[2020-09-26 10:22] guyluz11 opened #3 "Change folder structure"
Currently the app content is located inside three folders in the path
[CBJ_App/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter](https://github.com/CyBear-Jinni/CBJ_App/tree/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter).

We need to move the project back in order to remove folders that contain only one folder without purpose.

The content of the folder should move into the [CBJ-

[2020-09-27 00:39] guyluz11 opened #4 "Fix Flutter action in the project"
Currently the [Flutter action](https://github.com/marketplace/actions/flutter-action) is not working.

[This is the file](https://github.com/CyBear-Jinni/CBJ_App/blob/master/.github/workflows/dart.yml) of the implementation of it in the project.

Line on crash:

[code]

As this is my first time working with GitHub Flutter Action I may have basic thing that I missing in the process.

[2020-09-27 01:06] guyluz11 opened #5 "Add login with Firebase to the flutter app"
We are currently have a non working login page located [here](https://github.com/CyBear-Jinni/CBJ_App/blob/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter/lib/features/login_page/login_page.dart).

Pressing the "Log In" button just passing the user to the next page without any validation that the credentials exist in the Firebase users database.

We need to
- [x] Add request to Firebas

[2020-09-27 01:48] guyluz11 opened #6 "Create 'Create new account' page"
Currently the [login page](https://github.com/CyBear-Jinni/CBJ_App/blob/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter/lib/features/login_page/login_page.dart) is missing a way to create new account.

Please add new text button "Create new account" above the 'Forgot password?'  button.

The new text should send you to new page that will show the user registration screen.

In the regis

[2020-09-27 03:04] sagarchoudhary96 commented on #5
@guyluz11 i would like to work on this issue. can you assign it to me.

[2020-09-27 09:21] guyluz11 commented on #5
@sagarchoudhary96 Sounds good.

For developing the Firebase you do need to go over the instructions (although written differently) because the app already have small Firebase parts.

Just complete the [instructions-for-developers](https://github.com/CyBear-Jinni/CBJ_App/tree/master#instructions-for-developers) in the readme, that should be enough.

[2020-09-27 13:44] guyluz11 commented on #5
@sagarchoudhary96 If you have any questions you can reach me in the [CyBear Jinni Discord channel](https://discord.gg/RwsB7K).

[2020-09-27 14:14] sagarchoudhary96 commented on #5
sure will do👍

[2020-09-28 06:13] duythien0912 commented on #6
can I take this issue as soon as Hacktoberfest starts?

[2020-09-28 07:57] sohan-k commented on #3
Hey @guyluz11 , I would like to do it. Please assign me and I'll leave PR in October.

[2020-09-28 08:31] guyluz11 commented on #6
Sure :)

[2020-09-28 08:44] guyluz11 commented on #3
Go for it

[2020-09-28 18:40] guyluz11 opened #10 "Add a page to show all devices in the room"
In the Lamps tab if the user press the name of the room (the read arrow point to it)

<img src="https://user-images.githubusercontent.com/9304740/94470457-62f54a80-01d0-11eb-944d-669d115a0a78.jpeg" height="300">

the user moved to the [room page](https://github.com/CyBear-Jinni/CBJ_App/blob/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter/lib/features/room_page/room_page.dart).

In that

[2020-09-28 20:03] nayakastha commented on #10
Hey! Can you assign it to me? I will submit a PR in October as HacktoberFest starts

[2020-09-29 00:48] guyluz11 commented on #10
Sounds good, it is yours

[2020-09-29 09:46] duythien0912 commented on #4
Can I take it too, will create as soon as Hacktoberfest starts 😆

[2020-09-29 09:54] guyluz11 commented on #4
Assigneeing it to you @duythien0912
Thanks

[2020-09-29 10:21] guyluz11 opened #12 "Adding local storage"
Currently we have static dart file called [cloud_interface_data.dart](https://github.com/CyBear-Jinni/CBJ_App/blob/master/lib/objects/interface_darta/cloud_interface_data.dart) that stores all the devices in the home.

When adding new device from the application menu it disappear after restart of the application.
We need to add local storage that will save all the devices after the application is

[2020-09-29 16:17] elaishane commented on #5
I would also like to work on this issue. Could I join too?

[2020-09-29 17:00] guyluz11 commented on #5
Hy @elaishane currently @sagarchoudhary96 is assigned to this task so he will update you here in case he need help with that.

I would like your help review his pull request if you can.

I am creating new issue to create the the "Forgot password?" page, do you want me to assign it to you?.

<img src="https://user-images.githubusercontent.com/9304740/94589741-56372c00-028e-11eb-9193-351321dd73b4.jp

[2020-09-29 17:11] elaishane commented on #5
Yes please assign me on forgot password

[2020-09-29 18:19] guyluz11 opened #13 "New "Forgot password" page is required"
In the login page we have "Forgot password?" text that does not do anything.

When the user pressing the text he need to move to different page and insert his details to reset his password using the [FireBase api](https://pub.dev/packages/cloud_firestore) .

For now pleas do it without functionality as we don't want it to collide with #5  and have duplicated code to control FireBase.

<img src="ht

[2020-09-29 18:20] guyluz11 commented on #13
@elaishane

[2020-09-29 18:23] guyluz11 commented on #5
@elaishane  please leave a comment [on the ticket](https://github.com/CyBear-Jinni/CBJ_App/issues/13) as github don't let assign you without that.

[2020-09-29 18:52] elaishane commented on #13
Can you assign me this issue?

[2020-09-29 21:49] guyluz11 commented on #5
@sagarchoudhary96  @elaishane

As I want to have the easiest way for peoples to make their smart home I have two questions about Firebase, please let me now if you think this is possible.

1. Currently we have the file [constant_credentials.dart](https://github.com/CyBear-Jinni/CBJ_App/blob/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter/lib/core/constant_credentials.dart) and the deve

[2020-09-29 21:52] guyluz11 commented on #13
It is yours

[2020-09-30 19:01] sohan-k commented on #3
Opened at #16 @guyluz11

[2020-09-30 23:19] guyluz11 commented on #6
#15
Done Thanks

[2020-09-30 23:19] #6 closed

[2020-09-30 23:59] guyluz11 opened #17 "App icon need to be changed"
As we just got nice [new icon](https://github.com/CyBear-Jinni/CBJ_Site/tree/master/fan_art) from our [create fan art issue](https://github.com/CyBear-Jinni/CBJ_Site/issues/1) we are going to update it everywhere in the app.

All the [images of the owl (logo.png)](https://github.com/CyBear-Jinni/CBJ_App/blob/master/FlutterApp/cybear_jinni_flutter/cybear_jinni_flutter/assets/logo.png) in the app sh

[2020-10-01 00:47] AgungPrabowo commented on #17
hi @guyluz11, You can assign this issue to me?

[2020-10-01 01:12] AgungPrabowo opened #18 "the google-services.json file is missing"
I can't run the application because there is no google-services.json file, is there a solution?

[2020-10-01 02:55] duythien0912 commented on #17
This logo looks fun lol

[2020-10-01 03:26] Capt-Titanium commented on #17
Heyy @guyluz11 , I would like to do this issue!

[2020-10-01 06:44] sohan-k commented on #3
Opened at #23

[2020-10-01 09:10] guyluz11 commented on #18
Hi @AgungPrabowo

We currently do not upload the `google-services.json` to the public repository from security standpoint.

We have instructions on how to create one and insert it in the readme file [Instructions for developers part](https://github.com/CyBear-Jinni/CBJ_App#instructions-for-developers).

You can reach me in Discord and I will help you with that.

[<img src="https://cdn.icon-icons.c

[2020-10-01 09:10] #18 closed

[2020-10-01 10:00] guyluz11 commented on #4
Thanks @duythien0912

The tests are now passing.

[<img src="https://user-images.githubusercontent.com/9304740/94795124-98bf4c80-03e5-11eb-9f3e-082e3c233a1a.png" height="300">](https://discord.gg/mUXfwUY)

[2020-10-01 10:00] #4 closed

[2020-10-01 10:05] guyluz11 commented on #17
@duythien0912 the [create fan art issue](https://github.com/CyBear-Jinni/CBJ_Site/issues/1) is open to for everyone without limit.

So if you want to join feel free and get easy pull request XD .

[2020-10-01 10:06] guyluz11 commented on #17
@Capt-Titanium Go for it.

Thanks

[2020-10-01 12:40] guyluz11 commented on #3
Tested on my phone and it is working.

I fixed the Dart CI in dev

Thanks @sohan-k

[2020-10-01 12:40] #3 closed

[2020-10-01 15:58] guyluz11 opened #26 "Getting Firebase data from the file google-services.json file into the app"
While setting up the app developers need to insert `fireBaseProjectId` and `fireBaseApiKey` manually from
 `google-services.json` file to [constant_credentials.dart](https://github.com/CyBear-Jinni/CBJ_App/blob/master/lib/core/constant_credentials.dart) file.

This is needed in order to too transfer it to the [CyBear Jinni Smart Device](https://github.com/CyBear-Jinni/CBJ_Smart-Device) so that the

[2020-10-01 16:06] masterashu commented on #26
I would like to work on it.

[2020-10-01 21:56] guyluz11 commented on #18
Thanks @AgungPrabowo

The part
"his part is only required if you are going to connect the application to the smart devices, if not you can just run the app without extra steps."

was moved in dev branch to the correct place thanks to you :D,
you do need to add the Firebase part in order for the app to work.

It will be merged to master in the coming days.

[2020-10-02 11:58] guyluz11 opened #27 "Adding badges to readme"
Please make the readme top part same as [this](https://github.com/CyBear-Jinni/CBJ_Smart-Device/blob/master/README.md) readme.

[<img src="https://user-images.githubusercontent.com/9304740/94920772-97fae900-04bf-11eb-9501-2b43950efe66.png" height="300">](https://discord.gg/mUXfwUY)

Don't forget to change the title to `CyBear Jinni App` and the link to the `dart cli` badge to this project action.

[2020-10-02 12:00] SPOCTONE commented on #27
Please assign.

[2020-10-02 12:02] Tejas99999 commented on #27
can i do it

[2020-10-02 12:09] LON3WO7F commented on #27
Hey @guyluz11
I'm a little bit confused about this issue.
Just wanna know what I have to do in this?

[2020-10-02 13:06] guyluz11 commented on #27
Hi @SPOCTONE
I am assigning it to you.

[2020-10-02 13:08] guyluz11 commented on #27
Hello @Tejas99999  @SPOCTONE

I am creating similar issues for the readme, if you want to take one please get in touch with me in the Discord so that I can put it to you as son as it is published.

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2020-10-02 13:12] SPOCTONE commented on #27
For sure! looking forward to it. meanwhile I'm creating a PR fir this issue ASAP.

[2020-10-02 13:22] guyluz11 commented on #27
@LON3WO7F

I am creating similar issues for the readme, if you want to take one please get in touch with me in the Discord so that I can put it to you as son as it is published.

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2020-10-02 13:23] sagarchoudhary96 commented on #5
@guyluz11
1. I think it should be easily possible to read values from `google-services.json` file and make you of it directly instead of storing them in the `constant_credentials.dart` file .

2. i don't think it would be possible, also if you are publishing the app then as a developer it should make use of your firebase DB rather then each user creating their own firebase accounts.

[2020-10-02 13:35] guyluz11 commented on #5
@sagarchoudhary96

For the first one I created an issue as I thought that it is possible.

For the second one this is a bummer.
I wanted that by default the user will use my Firebase in the app but will have the possibility to change it.

Thanks for the second opinion.

[2020-10-02 14:46] guyluz11 commented on #27
Thanks @SPOCTONE  for the pull request.

Closing this issue now

[2020-10-02 14:46] #27 closed

[2020-10-02 19:35] guyluz11 opened #33 "Readme file small fixes"
Please add `alt="CyBear Jinni image"` to the CyBear Jinni image in the readme

Like this

[<div align="center"><img alt="CyBear Jinni image" height="300" src="https://user-images.githubusercontent.com/9304740/94843279-24a49900-0425-11eb-83f3-87e8ba40b1dc.png">](https://github.com/CyBear-Jinni/CBJ_Smart-Home)
</div>

[code]

And move the badges to be above it.

[2020-10-02 19:37] varadkulk commented on #33
I can do it

[2020-10-02 19:39] guyluz11 commented on #33
@varadkulk I will assigne it to you.

[2020-10-02 20:01] guyluz11 commented on #33
#35

@varadkulk Thanks

[2020-10-02 20:01] #33 closed

[2020-10-03 00:05] guyluz11 commented on #26
Update!

A default test `google cloud Firebase` configuration was add to the app so for developers you only need to run the app on the phone and it should work.

Thanks

[2020-10-03 00:05] guyluz11 commented on #17
Update!

A default test `google cloud Firebase` configuration was add to the app so for developers you only need to run the app on the phone and it should work.

Thanks

[2020-10-03 00:05] guyluz11 commented on #13
Update!

A default test `google cloud Firebase` configuration was add to the app so for developers you only need to run the app on the phone and it should work.

Thanks

[2020-10-03 00:05] guyluz11 commented on #10
Update!

A default test `google cloud Firebase` configuration was add to the app so for developers you only need to run the app on the phone and it should work.

Thanks

[2020-10-03 00:06] guyluz11 commented on #5
Update!

A default test `google cloud Firebase` configuration was add to the app so for developers you only need to run the app on the phone and it should work.

Thanks

[2020-10-03 01:06] guyluz11 opened #38 "Move parts in readme"
In the project readme.md file please move the `disclaimers` part below `Social Media Links` part.

https://github.com/CyBear-Jinni/CBJ_App#disclaimers

[2020-10-03 01:08] GuillaumeFalourd commented on #38
Hi @guyluz11 , can assigned this issue to me please ?

[2020-10-03 01:10] guyluz11 commented on #38
Sure

[2020-10-03 01:40] guyluz11 commented on #38
Thanks for the pull request @GuillaumeFalourd

Will now close this issue.

[2020-10-03 01:40] #38 closed

[2020-10-03 04:06] masterashu commented on #26
I created a PR.
This is how the process looks now.

[![asciicast](https://asciinema.org/a/363215.svg)](https://asciinema.org/a/363215)

[2020-10-03 04:17] masterashu commented on #12
I believe this is the correct link for [cloud_interface_data.dart](https://github.com/CyBear-Jinni/CBJ_App/blob/master/lib/objects/interface_darta/cloud_interface_data.dart).

[2020-10-03 09:27] guyluz11 commented on #12
Thanks @masterashu
I will update it now in the issue

[2020-10-03 10:32] guyluz11 opened #42 "Adding Firebase support for IOS (Xcode is needed)"
We are going to start supporting IOS for our Flutter app 🥳.

I never ran the app on IOS so I would love to see screenshots how does it look.

You will need to use Xcode in order to import the [GoogleService-Info.plist](https://github.com/CyBear-Jinni/CBJ_App/files/5321422/GoogleService-Info.plist.zip) file for Firebase configuration.

Please add Firebase support for IOS and make sure that it is wo

[2020-10-04 10:08] guyluz11 opened #47 "Adding translation package (easy_localization) to the app"
We want to start supporting multiple languages.

In order to do this we are going to use [easy localization](https://pub.dev/packages/easy_localization) package for easy method of translating to multiple languages.

[<img src="https://raw.githubusercontent.com/aissat/easy_localization/develop/logo/logo.svg?sanitize=true" height="80">](https://pub.dev/packages/easy_localization)

Please add to the

[2020-10-04 14:40] guyluz11 opened #49 "Change readme logo url"
Current logo in readme have space in the top of the image.

I have created new one without that, pleas update the readme to the new one and update the height to 400

[<div align="center">
<img alt="CyBear Jinni image" height="400" src="https://user-images.githubusercontent.com/9304740/95004821-f8417600-05f8-11eb-95bb-60a7863364e0.png">](https://github.com/CyBear-Jinni/CBJ_Smart-Home)
</div>

[code

[2020-10-04 15:07] bansodeashish24 commented on #49
I would like to take this up.

[2020-10-04 15:53] guyluz11 commented on #49
@bansodeashish24
Thanks
Will now close the issue

[2020-10-04 15:53] #49 closed

[2020-10-04 16:55] Devanshh opened #52 "Add LinkedIn to the Social Media Links in README.md"
The Social Media Links does not have LinkedIn

[2020-10-04 16:56] guyluz11 commented on #52
Hi @Devanshh can you update it ?

[2020-10-04 16:56] Devanshh commented on #52
Sure!

[2020-10-04 17:18] guyluz11 commented on #52
@Devanshh Thank you for the pull request #53

[2020-10-04 17:18] #52 closed

[2020-10-05 00:45] #47 closed

[2020-10-05 01:11] guyluz11 opened #56 "Adding translations"
Hi

Do you want to help open source project?, or perhaps you're looking for easy pull request!.

If you know how to write this is your chance, lets get down to it.

First locate your language in [this page](https://lingohub.com/developers/supported-locales/language-designators-with-regions).
Now remember the `Language` (two letter) `-` `Region` (two capital letter) of your region.

In [this folder

[2020-10-05 01:47] 3t8 commented on #56
I added the Italian translation

[2020-10-05 04:59] Iqrar99 commented on #56
Hi, I added the Indonesian translation.

[2020-10-05 07:01] Tamir198 commented on #56
I just added the Hebrew translations,  [Adding Hebrew translation (only 2 words was not understandable) ](https://github.com/CyBear-Jinni/CBJ_App/pull/61)

[2020-10-05 10:38] guyluz11 commented on #5
#59 is part of it

[2020-10-05 10:47] guyluz11 commented on #56
@Tamir198 commented on you pull request check that out

[2020-10-05 10:48] guyluz11 commented on #56
@3t8 @Iqrar99 Thanks for the translations 🌎

[2020-10-05 11:35] guyluz11 opened #62 "Logo in readme need some editing"
We have logo of CyBear Jinni in the readme.
CyBear Jinni have the following repository's `Smart Device`, `App`, `Smart Home` so we need some change to the logo to distinguish between them.

For the `App` I suggest to put the logo inside a phone

<img src="https://user-images.githubusercontent.com/9304740/95074711-afccaa00-0717-11eb-993d-c08ee587b9f4.jpeg" height="400">

This is a mock that I creat

[2020-10-05 12:00] 3t8 commented on #62
I wanted to put the logo on a darker background but there's some white around the edges, the selection is a little fuzzy. Do you have the original logo file in a better quality so I can redo the selection?

[2020-10-05 12:19] guyluz11 commented on #62
Hi @3t8
[This is](https://github.com/CyBear-Jinni/CBJ_Site/blob/master/fan_art/CyBear_Jinni_art_3.jpeg) the original.

I will assign the issue to you.

[2020-10-05 12:56] 3t8 commented on #62
If you want, I can also help with the logos for smart home and smart device.
Can I upload an upscaled and a better png crop of the logo in the fan_art folder?

[2020-10-05 13:33] guyluz11 commented on #62
Sure, this is the links to the issues [`Smart Home`](https://github.com/CyBear-Jinni/CBJ_Smart-Home/issues/104), [`Smart Device`](https://github.com/CyBear-Jinni/CBJ_Smart-Device/issues/62).

Yes, please create new folder inside the [`fan_art`](https://github.com/CyBear-Jinni/CBJ_Site/tree/master/fan_art) and call it `after_editing` and save it there.

[2020-10-05 14:22] guyluz11 commented on #62
Hi @3t8
I merged your pull request and will close this issue now.
If you decided to take the `Smart Home` and `Smart Device` as well please comment on the issues so that I will be able to assign it to you.

Thank you.

[2020-10-05 14:22] #62 closed

[2020-10-05 16:32] WaAlvis commented on #56
Hi, I added the Spanish (Colombia) translation.

[2020-10-05 16:35] WaAlvis commented on #42
Hello, I would like to work on the task, you assign it to me

[2020-10-05 16:55] guyluz11 commented on #56
@WaAlvis
Thank you

[2020-10-05 16:56] guyluz11 commented on #42
You got it @WaAlvis

If you need help you can join the Discord server I am there

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2020-10-05 23:57] guyluz11 commented on #17
@Capt-Titanium
I got confused with some pull request and did the icon change for you.
Please do [this](https://github.com/WaAlvis/CBJ_App/pull/1) pull request yourself to get the Hacktoberfest accept it.

If his branch is deleted you can view this [here](https://github.com/guyluz11/CBJ_App/commit/45fa896e9094e4728c8bd1973d4df6d4212ac0c1) too.

[2020-10-06 03:05] CrunchyCuber commented on #56
Hey, I added Chinese(Taiwan)

[2020-10-06 07:19] Capt-Titanium commented on #17
Sure, I will do the same changes myself but I need to update my sdk so I will be able to do it when I have installed it. Is it okay if I take a few more days?

[2020-10-06 12:12] aurelienrouze commented on #56
Hey, I added French(France) translation ! Thanks for your project ;) 🥖

[2020-10-06 15:07] guyluz11 commented on #17
@Capt-Titanium yes this is ok

[2020-10-06 15:36] Devanshh commented on #56
Hi @guyluz11 , I would like to add the HI-IN (Hindi-India) translation. Can you assign it to me?

[2020-10-06 16:42] guyluz11 commented on #56
Hi @Devanshh I see that you did pull request, thank you

[2020-10-06 17:07] guyluz11 opened #82 "Lights toggle switch should update live from Firebase"
Currently the toggle switches are getting updated from the cloud, only when the page is being loaded.

Since there are more than one people in the same home we need to let know the person who is watching the toggles that someone else change one of the toggles state while he is looking at the page.

Toggle switch is in [this page](https://github.com/CyBear-Jinni/CBJ_App/blob/master/lib/features/hom

[2020-10-07 12:13] guyluz11 opened #87 "Markdown License badges change in readme"
Found out that we put the wrong badge for the license in the readme.
Please update the license badge to the new one.

[![License: AGPL v3](https://img.shields.io/badge/License-AGPL%20v3-blue.svg)](https://www.gnu.org/licenses/agpl-3.0)
`[![License: AGPL v3](https://img.shields.io/badge/License-AGPL%20v3-blue.svg)](https://www.gnu.org/licenses/agpl-3.0)`

[2020-10-07 13:04] guyluz11 commented on #87
Thnaks @ivanch

Now closing the issue.

[2020-10-07 13:04] #87 closed

[2020-10-08 09:40] guyluz11 opened #93 "Add functionality to scene buttons"
Scene is like preset, one button that does a lot of actions together.

Currently the button does not have any logic.

Please add the logic to execute number of task and give one example where you implement this like turning on a Lights, and another one that turn off the Lights.

This is the [scenes_widgets.dart](https://github.com/CyBear-Jinni/CBJ_App/blob/master/lib/features/home_page/tabs/scene_

[2020-10-08 09:58] guyluz11 opened #94 "Add the Actions History page"
Currently `Actions History` is empty.

The actions history are the same (for now) history that we called and received from Firebase.

In the future it will include all the history from the `Smart Devices` but not for today.

Lets fill the `Actions History` with the actions that we did and received from the app while it running.

This is the [history_tab.dart](https://github.com/CyBear-Jinni/CBJ_Ap

[2020-10-08 20:14] MARCOSM-MARTINS commented on #56
Hi. I did the translation in Brazilian Portuguese.

[2020-10-09 00:33] guyluz11 commented on #56
Thank you @MARCOSM-MARTINS for the pr.

[2020-10-09 22:33] guyluz11 commented on #42
Can you show me the "problems" maybe I can help.
I am in the discord now.

[2020-10-09 22:43] guyluz11 commented on #42
Uploading the error
![error](https://user-images.githubusercontent.com/9304740/95637232-e6008580-0a99-11eb-80a9-cb93e1a8c08c.png)

[2020-10-13 12:52] aurelienrouze commented on #56
Hi @guyluz11, as I haven't seen any activityin translation files. I made 2 PR for French translation (Belgium and Canadian).
Have a good day.

[2020-10-13 13:18] guyluz11 commented on #56
Thanks @aurelienrouze your prs have been merged

[2020-10-16 09:17] krish-bhanushali commented on #12
Can I try working on this?

[2020-10-16 09:54] guyluz11 commented on #12
Sounds great @krish-bhanushali

[2020-10-16 13:02] guyluz11 commented on #93
Add
<img src="https://user-images.githubusercontent.com/9304740/96261236-d7016200-0fc8-11eb-8361-2db00a94e4d4.jpeg" height="500">

[2020-10-16 13:03] #93 closed

[2020-10-24 19:05] sagarchoudhary96 opened #106 "Add Create user functionality with firebase"
This is to create/register a new user using firebase.

[2020-10-24 19:05] sagarchoudhary96 commented on #106
@guyluz11 can you assign it to me ?

[2020-10-24 19:09] guyluz11 commented on #106
Sure thing @sagarchoudhary96

[2020-10-24 19:47] sagarchoudhary96 opened #110 "Automatically login user if session is valid"
Login user automatically if the current user session is valid.

[2020-10-24 20:27] guyluz11 commented on #110
Tested, thanks for the pull request

[2020-10-24 20:27] #110 closed

[2020-10-24 20:27] guyluz11 commented on #106
Tested and working, thank you

[2020-10-24 20:27] #106 closed

[2020-10-24 20:29] guyluz11 commented on #13
The app just got support for creating new account and login with user.

So add to this ticket the task to not only create the page but to add the functionality to it.

Thanks

[2020-10-24 20:31] guyluz11 commented on #5
This is big step forward for the app, thanks @sagarchoudhary96 for all the work.

Will now close this commit

[2020-10-24 20:31] #5 closed

[2020-10-27 13:25] guyluz11 opened #114 "Add scan ports screen"
Add a new screen that will have a button that on press start port scanning on the WiFi devices and return results of devices IP on the network with that port open.

We may use this to solve
https://github.com/CyBear-Jinni/CBJ_Smart-Home/issues/30

[2020-10-29 15:44] guyluz11 opened #115 "Create a hotspot page"
We need a page that will open hotspot with the name and password that we give it.

This is needed in order make the [Security-Bear](https://github.com/CyBear-Jinni/Security-Bear.git) connect to the app for further configurations.

If opening hotspot from the app is not an option it should open the hotspot setting page in the device so that the user will manually insert the hotspot name and passwor

[2020-12-04 23:38] Tamir198 opened #118 "broken links on Instructions for developers"
On the wiki page of this repo inside instructions for developers there is this text :

![image](https://user-images.githubusercontent.com/34707669/101224651-f139f100-3697-11eb-9b95-ca45216eabe4.png)

But the "flutter project" link is broken and leads to a 404 page:

![image](https://user-images.githubusercontent.com/34707669/101224704-19295480-3698-11eb-833b-70cb04d43bf0.png)

You may want to show

[2020-12-05 00:05] guyluz11 commented on #118
I have updated the links to the correct path.

Can you check now?.

Thanks

[2020-12-05 00:05] Tamir198 commented on #118
I will check it again

[2020-12-05 00:07] Tamir198 commented on #118
@guyluz11
Look good now, good job 🥇

[2020-12-05 00:28] #118 closed

[2020-12-06 00:06] Tamir198 opened #119 "Make sure that the screens will look the same on every device"
I want to help with this project and make sure that all the screens will look the same on all devices.

Basically, I want to replace all the fixed size values in the project (for example `radius: 48.0`) with something more dynamic.
The current fixed size for the widgets and spaces between them may look good on one device but it may not look so good on another device because different phones got di

[2020-12-06 00:22] guyluz11 commented on #119
So first of all I understand that you want this issue so I will assignee it to you @Tamir198,

Using `Stateful Widget` all the time will be waste of resources so we will go with the first option.

Using `context` inside a `Stateless Widget` can be done and there are even places we do it already in the app.
![image](https://user-images.githubusercontent.com/9304740/101268201-2e21e880-3769-11eb-97bc

[2020-12-06 22:08] Tamir198 opened #120 "App registration suggestion"
When a new user is creating his account for the app, the very next thing that he will see is the empty login page.

Suggestion:

When you redirect the user to the login page (after creating a new account) you can show him his email on the login page.
This will prevent your user from writing the same email again, it may not take a long time but it is affecting the user experience.

[2020-12-06 22:14] Tamir198 opened #121 "The getter 'length' was called on null - lamp setting page"
On the lamp setting page I am getting an error after clicking the plus button :

**Visualization**

![image](https://user-images.githubusercontent.com/34707669/101294595-232a8f00-3821-11eb-9498-a4327ffa3c73.png)

**The error**

[code]

[2020-12-06 22:20] Tamir198 opened #122 "How can I log out of the app?"
Right now, I don't see any option to log out of the app.
How can I switch between two users?

[2020-12-06 22:28] guyluz11 commented on #120
I think that even better option is to log in the user straight after registration is complete successfully.

[2020-12-06 22:31] Tamir198 commented on #120
This is actually a better option.

[2020-12-06 22:33] guyluz11 commented on #121
This happens whenever the user is pressing the plus button while he is not logged in to a WiFi.

Should be an easy fix, we need to show toast that say "Please connect the device to a WiFi and try again.".

[2020-12-06 22:36] guyluz11 commented on #122
We definitely need a way to do that.
For now you can clear the cache of the app.

[2020-12-06 22:41] Tamir198 opened #123 "creating new user with already existing email"
If I will  go to create a new user and enter an already existing email (like below) pressing the create a new account will do nothing :

![image](https://user-images.githubusercontent.com/34707669/101295116-460a7280-3824-11eb-8cd3-7cc6e5eeae98.png)

I think that if that email is already in use, maybe it is a good thing to notify the user with a "Email Already in use" message  or something similar.

[2020-12-06 22:44] guyluz11 commented on #123
Nice one.
I think that toast message to show errors will be good.

[2020-12-06 22:47] guyluz11 commented on #123
On second thought it is better not to show toast as it will be less convenient on big screen/web site on desktop, and we want to code once where it is possible.

[2020-12-06 22:47] Tamir198 opened #124 "Can you add Forgot password mechanism?"
Right now, the "Forgot password" button on the login page is not working.
Is it possible to add this feature to the app in the future?

[2020-12-06 22:49] guyluz11 commented on #124
Closing this issue as it is duplicate of #13

[2020-12-06 22:49] #124 closed

[2020-12-06 22:56] Tamir198 opened #125 "Minimum password length is not showing in Create a new account page"
Inside the Create a new account page I am getting this message when trying to add a short password

![image](https://user-images.githubusercontent.com/34707669/101295406-2e33ee00-3826-11eb-96d9-c80ccb0261db.png)

Notice that the text contains { } and not an actual number.

This but is only occurring in the "create new account page", in the login page this works just fine.

[2020-12-06 23:04] guyluz11 commented on #125
So if it is working in login page and it is the same validation we can extract the validation and call it from both places.

[2020-12-06 23:06] Tamir198 opened #126 "I can add blank password made of tabs"
Both in the login page and in the create a new user  there is a requirement that the password and the email should not contain any spaces:

![image](https://user-images.githubusercontent.com/34707669/101295713-06458a00-3828-11eb-949b-63db5fed12cb.png)

This works fine if I try to enter spaces, but I can enter a password and email that only contains tabs.
In this case, the app will act just as ever

[2020-12-06 23:11] guyluz11 commented on #126
Interesting.
We should change the tab functionality at all.
It's needs to be the next field and in the last one close the keyboard.

[2020-12-06 23:13] Tamir198 commented on #126
I have edited my issue, this is also occurring in the email field, currently `test test@test.com` is count as a valid email.

[2020-12-07 18:04] guyluz11 commented on #121
Fixed in dev.
Please check it now.

[2020-12-07 18:05] guyluz11 commented on #94
Removed the History page for now.

Please add it while developing it.

[2020-12-07 18:30] guyluz11 opened #128 "Easy way for the app to connect new smart devices to the WiFi"
Easy way for the app to connect new smart devices to the WiFi.

We need the app a way to open a hotpot with name and password that we will control.
After hotspot will be opened we will make the device app be a server that will wait for Security Bear to send the device IP.
After that we will call the Smart Device to get all the virtual devices names and types that inside it with the IP that Securit

[2020-12-07 18:37] guyluz11 commented on #128
I will use
https://pub.dev/packages/wifi_iot

[2020-12-07 19:58] guyluz11 commented on #128
So most of WiFi_iot  does not work on android api 29 and above.
We will use it in the future when and if they will add support for api 29 and above to at last open the android settings for opening hotspot and opening WiFi.
Will need to keep updated about it.

[2020-12-09 00:13] guyluz11 commented on #128
Done

[2020-12-09 00:13] #128 closed

[2020-12-09 01:06] guyluz11 commented on #119
Thanks for the pull request,
Closing as it was merged

[2020-12-09 01:06] #119 closed

[2020-12-09 01:07] guyluz11 commented on #121
The popup was totally changed so I am closing this issue.

[2020-12-09 01:07] #121 closed

[2021-01-09 06:47] idanre commented on #13
hi i'm working on the issue :)

[2021-01-09 08:48] guyluz11 commented on #13
Sure

[2021-01-09 13:24] idanre opened #135 "Extract common code from login/register/forgot-password pages to single location"
there is a lot of duplication that it will be good to eliminate in these 3 pages since they all include a form with similar fields

[2021-01-09 14:00] guyluz11 commented on #13
Thanks @idanre part one is was merged.
I am removing you from the  `Assignees`  tage.
If you want to take part two which is `Add functionality to it using FireBase api.` please tell me and I will put you again.

[2021-01-14 21:33] Tamir198 opened #142 "version solving failed"
I was trying to run the project and got this error:

[code]

I wanted to ask if it's ok for me to change `pubspec.yaml` file according to the error log?

**If yes** - Do you want to me change the libraries version to a specific one?
**If no**- what should I do to handle the error?

[2021-01-14 22:13] guyluz11 commented on #142
I had the same error, you need to change flutter to stable channel.

Run in the commend line
`flutter channel stable`

[2021-01-14 22:29] Tamir198 commented on #142
work like a charm

[2021-01-14 22:29] #142 closed

[2021-01-16 19:41] Tamir198 opened #147 "No feedback while signing in"
Could you please add some indication when the user is pressing the "log-in in" button?

Right now, when the user presses it, it seems like the app is not responding, it could be nice as a user if I could know that  something is happening in the background (user validation, etc...)

[2021-01-19 20:46] guyluz11 commented on #10
Done

[2021-01-19 20:46] #10 closed

[2021-01-20 21:47] guyluz11 commented on #122
Can be found in dev in the left drawer.

Thanks

[2021-01-20 21:47] #122 closed

[2021-01-31 20:03] #42 closed

[2021-01-31 20:05] guyluz11 commented on #42
We are now supporting iOS on dev
![signal-2021-01-31-200153](https://user-images.githubusercontent.com/9304740/106396401-5ac44a80-6410-11eb-837d-8b6c37a497f1.jpg)
![signal-2021-01-31-200211](https://user-images.githubusercontent.com/9304740/106396403-5bf57780-6410-11eb-9862-f19c8cd913fc.jpg)

[2021-02-01 01:49] guyluz11 commented on #147
Thanks,
Fixed in dev branch

[2021-02-01 01:49] #147 closed

[2021-02-01 01:52] guyluz11 commented on #135
Because we moved to the DDD architecture in the login page it have automatically got common code.

Thanks

[2021-02-01 01:52] #135 closed

[2021-02-01 01:53] guyluz11 commented on #125
Fixed, Thanks

[2021-02-01 01:53] #125 closed

[2021-02-01 01:56] guyluz11 commented on #126
Fixed for the email field.

[2021-02-01 01:57] guyluz11 commented on #123
Fixed, Thanks

[2021-02-01 01:57] #123 closed

[2021-02-01 02:01] guyluz11 commented on #13
Forgot password page will not be available for now.
We discovered that it can make problems for the smart devices which using the admin user account to communicate with firebase database.

So I am closing this issue.

Thanks all.

[2021-02-01 02:01] #13 closed

[2021-02-01 02:03] guyluz11 commented on #120
This functionality has been implemented.

Thanks

[2021-02-01 02:03] #120 closed

[2021-02-01 23:03] guyluz11 commented on #126
It is fixed for only the email, not for password.
So I am reopening this issue.

[2021-02-02 13:04] guyluz11 opened #159 ""Create your home" button does not add new collection for the home in cloude Firestore"
When the user creates new home and login into account a new collection of the smart home should be created in  cloud Firestore.

The collections of the home should be as following (Gen is auto generated name).

_`Actions` (data that control or set functionality):_

[code]

------------------------------------------------------------------------------------------------------------------------------

[2021-02-06 14:28] guyluz11 commented on #159
Done.

Most of the information that I wrote above will only be created when needed.
The pull request logic only creates the `SmartHomes/HomeNameGen/Users/UserNameGen`

Thanks

[2021-02-06 14:28] #159 closed

[2021-02-06 14:33] guyluz11 opened #162 "Scenes page should be using bloc and DDD"
Currently the Scenes tab (in the home page) isn't built using the bloc and DDD architecture.

As we decided to move to both of them and use dependency injection with `getIt` the Scenes tab should move too.

Moving scenes to folders of rooms in the home will be welcome too but not required.

[2021-02-11 00:24] guyluz11 commented on #162
Done.
Using only mock data for now

[2021-02-11 00:24] #162 closed

[2021-02-22 09:35] guyluz11 commented on #82
Now work as described (did it as part of moving to the new architecture and bloc )

[2021-02-22 09:35] #82 closed

[2021-02-22 09:38] guyluz11 commented on #12
As firestore have local storage implemented, I have add Hive local storage only for home ID for now.
Thanks

[2021-02-22 09:38] #12 closed

[2021-02-22 09:51] guyluz11 opened #168 "Creating new home does not create doc in firestore"
Creating new smart home in the app does not create new home fire store document.

We need it in order to have a home that will stores all the home data

[2021-02-22 09:52] guyluz11 commented on #168
Add the behavior in
#167

[2021-02-22 09:52] #168 closed

[2021-02-22 09:57] guyluz11 opened #169 "Does not saved to user home list when new home created"
Creating new home does not add it to saved home list of the user.

Whan user create a home he expect that it will automatically be add to his homes list for so that he will be able to join it if he logs out.

[2021-02-22 09:57] guyluz11 commented on #169
Fixed in #167

[2021-02-22 09:57] #169 closed

[2021-02-22 10:01] guyluz11 opened #170 "Join home button does not work"
Button does not have any behavior

![signal-2021-02-22-120009](https://user-images.githubusercontent.com/9304740/108692671-8f09c300-7505-11eb-956b-6a14497bbcaf.jpg)

[2021-02-22 10:04] guyluz11 commented on #170
New join existing home page have been created in pull request #167 .
The button will redirect you to it.
There you will paste the home I'd that the home admin gave you.

[2021-02-22 10:04] #170 closed

[2021-02-22 10:07] guyluz11 opened #171 "Join home button does not add home to my homes list"
When entering new home by id we expect that it will be saved for latter in case I log out.

[2021-02-22 10:08] guyluz11 commented on #171
Will now be add and shown.
#167

![Screenshot_20210222-115943_CyBear_Jinni](https://user-images.githubusercontent.com/9304740/108693560-a1d0c780-7506-11eb-8513-c8a047d60e6c.png)

[2021-02-22 10:08] #171 closed

[2021-02-22 10:10] guyluz11 opened #172 "Can't manage my home users"
Manage home users button does not work.
![Screenshot_20210222-120946_CyBear_Jinni](https://user-images.githubusercontent.com/9304740/108693748-df355500-7506-11eb-8f43-cfa0f2551eb4.png)

[2021-02-22 10:11] guyluz11 commented on #172
New page to show all home users have been add in #167

![Screenshot_20210222-121056_CyBear_Jinni](https://user-images.githubusercontent.com/9304740/108693891-0c820300-7507-11eb-8b2f-124fb4ec4c7a.png)

[2021-02-22 10:11] #172 closed

[2021-02-22 10:13] guyluz11 opened #173 "How to allow new users to home"
There isn't a way to add new users to my existing home.

[2021-02-22 10:14] guyluz11 commented on #173
Page have been add in #167 .
You can find the button to it here.
![Screenshot_20210222-121416_CyBear_Jinni](https://user-images.githubusercontent.com/9304740/108694263-7f8b7980-7507-11eb-823b-e1aaccaae74e.png)

[2021-02-22 10:14] #173 closed

[2021-03-30 12:10] guyluz11 commented on #115
Functionality have been add in #174

[2021-03-30 12:10] #115 closed

[2021-05-02 12:54] guyluz11 commented on #17
App icon has been changed.

[2021-05-02 12:54] #17 closed

[2021-05-03 04:41] Tamir198 opened #177 "The app can be found on play store"
Please update README, now that you have [uploaded the app to play store](https://play.google.com/store/apps/details?id=com.cybear_jinni.smart_home&gl=IL) your current readme is not up to date.

[2021-05-04 09:15] guyluz11 commented on #177
Thanks, will add it in the next few days

[2021-05-04 12:30] guyluz11 commented on #177
![playstore logo](https://user-images.githubusercontent.com/9304740/117003444-8b58a080-aced-11eb-94bc-bfb2505f515d.png)

This google play logo will be used in the README

[2021-05-04 12:49] guyluz11 commented on #177
Done.
Thanks for opening the issue.

[2021-05-04 12:49] #177 closed

[2021-05-09 12:05] guyluz11 commented on #114
If we are moving to `avahi` like the last comment in [CyBear-Jinni/CBJ_Smart-Home#30](https://github.com/CyBear-Jinni/CBJ_Smart-Home/issues/30) scan port screen is not needed, only saving the device host names when add.
I am closing this issue for now as it is not seem to be relevant anymore.

[2021-05-09 12:05] #114 closed

[2021-05-09 12:11] guyluz11 commented on #26
Inserting firebase data manually on runtime is not an option as it will create security vulnerabilities and a lot of overhead just to make it work.
We may add other database option in the future that will make it possible to insert user database on runtime with them but not for firebase.
So I am closing this issue.

I am keeping the script pull request open for now.

Thanks @masterashu for your ti

[2021-05-09 12:11] #26 closed

[2021-05-31 07:42] guyluz11 opened #195 "wifi_info_flutter package is deprecated"
As the [wifi_info_flutter](https://pub.dev/packages/wifi_info_flutter) package in pub.dev say:

So we need to move to [network_info_plus](https://pub.dev/packages/network_info_plus)

[2021-05-31 08:09] #195 closed

[2021-06-07 14:29] AvielCo commented on #126
I will try to solve it.

[2021-06-09 13:09] AvielCo commented on #126
As I said in the PR (#199), I fixed this issue; For email and password fields.

[2021-06-09 14:25] guyluz11 commented on #126
Merged the pull request and tested it.
Thanks @Tamir198  and @AvielCo .

Will close this issue now.

[2021-06-09 14:25] #126 closed

[2021-06-13 14:43] guyluz11 opened #201 "New look for boiler is needed"
Currently our boiler on/off button looks like the light switch

![image](https://user-images.githubusercontent.com/9304740/121811772-09558300-cc6e-11eb-9992-e07301f9aa0e.png)

As boiler is the most bought  smart home device (that I know of) we need more visual pleasing representation of it.

We will go with big button that change background color to red and have some hot water animation when turne

[2021-06-13 14:43] AvielCo commented on #201
Ill try.

[2021-06-13 17:56] guyluz11 opened #202 "Creating new home return error"
Getting `Error` message in the bottom when trying to create new home.

![image](https://user-images.githubusercontent.com/9304740/121817359-a671e500-cc89-11eb-873c-f5499a19c4b3.png)

[2021-06-15 14:43] guyluz11 opened #204 "Scenes ripple effect is not noticeable enough"
Make pressing ripple more noticeable, maybe white ripple.

![image](https://user-images.githubusercontent.com/9304740/122073029-c4158a80-ce00-11eb-83f2-277184076c90.png)

[2021-06-15 14:47] guyluz11 opened #205 "Add plus button for all the main pages."
Floating plus button in the bottom right corner is needed for easy user interface to add new items.

The button need to be add to the following pages: `Scenes`, `Devices`, `Routines`, `Linked`.

[2021-06-15 15:09] samordoch commented on #204
I'll take it

[2021-06-15 15:10] samordoch commented on #205
no problem i will do it

[2021-07-17 10:23] guyluz11 opened #208 "Scenes buttons ripple effect is black"
In Scenes in folder the ripple effect of the scenes button is black.
This is not so noticeable as feedback to the touch.

Please change it to white.

[2021-07-17 10:26] chena-1 commented on #208
I would try

[2021-07-17 10:54] guyluz11 commented on #208
Thanks @chena-1

[2021-07-17 10:54] guyluz11 commented on #208
Thanks @chena-1

[2021-07-17 10:54] #208 closed

[2021-07-17 10:55] chena-1 commented on #204
Duplicate of #208 solved

[2021-07-17 10:56] #204 closed

[2021-07-19 19:52] chena-1 commented on #205
I will do it.

[2021-07-20 09:47] guyluz11 opened #210 "Upload app into the snap store"
The app needed to be uploaded into the snap store under the name cybear-jinni.
Our [smart device snap](https://snapcraft.io/cybear-jinni) already use this name so we will [move it to be published under different name](https://github.com/CyBear-Jinni/CBJ_Smart-Device/issues/144).

![image](https://user-images.githubusercontent.com/9304740/126297435-545bd742-609f-4a07-a6be-126c553265d9.png)

[2021-07-20 10:03] guyluz11 opened #211 "Different login page is required"
Currently our login page is looking like this

<img src="https://user-images.githubusercontent.com/9304740/126304527-e302d235-2589-4994-aa7a-2189d4e9dfae.png" height="500">

But because we are moving to the hub login is not required (for now).

Please replace the login page with the connecting to Hub page that will look like this

![image](https://user-images.githubusercontent.com/9304740/12630527

[2021-07-20 10:36] guyluz11 opened #212 "Find a way for the app to work on the browser"
The app is using [gRPC](https://pub.dev/packages/grpc) to talk to the Hub.

For on going communication we are **opening sockets** and streaming data both ways, like turn on the light (app to hub) and light got turned on (hub to app).
They are not new requests each time, the connection is being kept open and data is transfer between the devices.

At first glans gRPC does not support browser
![image

[2021-07-20 12:08] guyluz11 commented on #212
Recently they added a new constructor that will handle the differences [grpc_or_grpcweb](https://github.com/grpc/grpc-dart/blob/master/lib/grpc_or_grpcweb.dart)

[2021-07-20 13:03] guyluz11 opened #213 "The return of the "Choose device vendor" page"
As we are moving to hub the first page of adding new devices should show you all the vendors that you can add from and let the user choose one.

All  `context.router.push(const ConnectToHomeWifiRoute());` (ConnectToHomeWifiRoute) need to be changed into

`context.router.push(const ChooseDeviceVendorToAddRoute());` (ChooseDeviceVendorToAddRoute)

In addition to that we gave it new look that need to

[2021-07-20 23:27] guyluz11 opened #746 "List of existing pub.dev packages that can be integrated"
List of dart packages that exist and may make it easier to add support for it for CyBear Jinni Hub and App.

This is the first 30 integrations (and a few more) from Home Assistant organized by installations.

The packages that got imported to the project in some way will be marked with a check box.

Updated in 23.3.2023

- [x] [Chromecast](https://www.google.com/intl/en_us/chromecast/built-in/) is

[2021-07-21 07:16] guyluz11 opened #214 "List of packages that can be integrated"
List of dart/flutter packages that exist and may make it easier to add support certain service.
I am referencing [the list from the hub repo](https://github.com/CyBear-Jinni/CBJ_Hub/issues/11) since some of them should be implemented from the app side and I didn't sorted them.

[2021-07-21 07:25] guyluz11 commented on #205
Thanks for the pull request.
I have merged it, closing this issue now.

[2021-07-21 07:25] #205 closed

[2021-07-23 14:24] guyluz11 commented on #210
Done, the app is only in edge snap for now.

[2021-07-23 14:24] #210 closed

[2021-07-23 14:27] guyluz11 opened #226 "Readme update"
As we uploaded the app to snap #210 we need to add link to it in the readme file

Link to the app snapstore page:
https://snapcraft.io/cybear-jinni

[2021-07-23 15:10] guyluz11 opened #227 "Add support for Windows"
The app just got support to run on Linux.

Adding Windows support should be easy too.

Please add support and post a screenshot here of in running :)

[2021-07-23 15:11] chena-1 commented on #227
I will do it

[2021-07-23 15:35] guyluz11 commented on #213
Will take it.

[2021-07-23 17:10] chena-1 opened #228 "Add support for Windows #227 fix"
![image](https://user-images.githubusercontent.com/56453539/126817424-0ee5f16c-6d74-4373-b5bf-52c3238d74fe.png)

[2021-07-23 17:10] #228 closed

[2021-07-24 07:13] guyluz11 commented on #227
Uploading the image from the pull request
![image](https://user-images.githubusercontent.com/9304740/126860674-7d82c4f7-4c2a-429e-b98f-a49f8b5862a5.png)

Thanks @chena-1 looks good.

[2021-07-24 07:13] #227 closed

[2021-07-24 07:18] guyluz11 opened #231 "Windows app change defaults"
Our windows app have some defaults.

Name at the top left is cbj_app should be CyBear Jinni

Logo of the company is the flutter logo should be the panda logo.

More?:
My guess is that the process name of the app is also different from CyBear Jinni.

Name of the app after compiling with `flutter build windows` should also probably changed to CyBear Jinni App.

![image](https://user-images.githubuse

[2021-07-24 07:20] guyluz11 commented on #231
For the panda logo you can find some in the `assets` folder.
For different resolutions please comment here with the dimensions.

[2021-07-24 07:22] guyluz11 commented on #227
@chena-1 see also #231 if you are interested.

[2021-07-24 09:08] chena-1 commented on #231
I will do it

[2021-07-24 16:48] guyluz11 opened #233 "Add support for macOS"
**macOS computer is needed** for for this one!.

Please add support for macOS.

As we are using flutter the process should be quite easy.

Flutter for [desktop guide](https://flutter.dev/desktop).

It will probably  something like running the following commands

`flutter config --enable-macos-desktop`

`flutter create --org com.cybear_jinni.smart_home .`

If it will not work than this one instead

[2021-07-24 16:53] guyluz11 commented on #231
@chena-1

Also change `com.cybear-jinni` occurrences to `com.cybear-jinni.smart-home`

[2021-07-25 00:14] guyluz11 commented on #213
Done, thanks all.

[2021-07-25 00:14] #213 closed

[2021-08-01 09:50] danger-ahead commented on #226
Hi I can do this. Please consider assigning me!

[2021-08-01 10:53] guyluz11 commented on #226
Sure
Please do it in the same way the snap represented in here
https://github.com/CyBear-Jinni/CBJ_Smart-Device

Once here
![image](https://user-images.githubusercontent.com/9304740/127768200-f3c463c7-26ac-47a6-90dd-bae2b58867fa.png)

And again like this
![image](https://user-images.githubusercontent.com/9304740/127768215-afb95cde-2af1-46d7-a4da-ab7e5a132537.png)
in the same row as the play store

[2021-08-01 16:16] guyluz11 commented on #226
Thanks @danger-ahead for the help.

[2021-08-01 16:16] #226 closed

[2021-08-01 16:21] guyluz11 commented on #226
Feel free to join the discord channel in case you want to contribute more or discuss with us.

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2021-08-01 16:51] guyluz11 commented on #231
Thanks @chena-1
I have merged the pull request and will now close the issue.

[2021-08-01 16:51] #231 closed

[2021-08-01 20:02] chena-1 commented on #212
I will do it

[2021-08-01 21:32] guyluz11 commented on #212
Sure

[2021-08-02 09:53] guyluz11 opened #242 "Add functionality for Scenes"
Adding support for this functionality probably should be add in the Hub side before in here https://github.com/CyBear-Jinni/cbj_hub/issues/18 .

The scenes currently don't have functionality.
We planned that adding scenes will be easy as we are using MQTT that implement all the logic for that.
For example you can use `Node-RED` to set scenes (will not show in the app).
We need to mimic the `Node-R

[2021-08-13 12:34] guyluz11 commented on #212
Last [update of grpc package](https://pub.dev/packages/grpc/changelog) version 3.0.1

Will update the package shortly.

[2021-08-15 07:20] guyluz11 opened #247 "Adding page to control RGBW light"
Adding page to control RGBW light, the page should have the on/off functionality like normal light control, and should also add dimmable and color picker sliders.

[2021-08-15 15:54] guyluz11 commented on #247
One option for color picking can be like this
![image](https://user-images.githubusercontent.com/9304740/129484493-ef5b62d3-5f20-45fd-8dbc-c173cc9bb600.png)
From this [flex_color_picker package](https://pub.dev/packages/flex_color_picker)

[2021-08-16 09:27] guyluz11 commented on #211
Will take it and add functionality as well.

[2021-08-17 21:51] guyluz11 commented on #211
Great

[2021-08-17 21:51] #211 closed

[2021-08-17 21:52] guyluz11 commented on #202
As we moved to new login method #211 this page is not longer exist and so is this issue.

[2021-08-17 21:52] #202 closed

[2021-08-21 09:19] chena-1 opened #256 "Find a way to get the LAN ip address when the device connected to the internet by cable"
the following code get the ip address by wifi

https://github.com/CyBear-Jinni/cbj_app/blob/master/lib/infrastructure/hub_connection/hub_connection_repository.dart#L110

[2021-08-21 09:37] guyluz11 commented on #256
Opened [feature request](https://github.com/fluttercommunity/plus_plugins/issues/420) for that in network_info_plus rep.

[2021-08-23 08:44] guyluz11 commented on #247
First step done, adding the picker without functionality
![image](https://user-images.githubusercontent.com/9304740/130417761-b57e4779-20f9-483a-b45b-37d9854399e0.png)

[2021-08-30 22:49] guyluz11 opened #267 "Update readme"
The readme is very old and does not include the focus change to control smart devices from other vendors.

[2021-09-05 08:35] Tamir198 opened #272 "Will you join hacktoberfest 2021?"
Hey, last year was super fun during hacktoberfest and I wanted to ask if you (well, the repos) will take part hacktoberfest this year?

Thank you

[2021-09-05 08:58] guyluz11 commented on #272
Hy @Tamir198, we surely intend to join hacktoberfest.

As CyBear Jinni got created from a place of helping the world and building the future together we have a big place for the open-source community.
In addition to that we also welcome all the exposure that we get from that, it helps us grow bigger and stronger and help us keep moving forward.

I am happy to hear that you are interested to join u

[2021-09-05 09:52] guyluz11 opened #273 "Snap icon does not show in os's app launchers"
After downloading a snap the icon of the snap should be added to the app launchers of the different Linux os's.
We are probably missing a small section in the snapcraft.yaml that will set it up with app icon and all.

![image](https://user-images.githubusercontent.com/9304740/132122625-2b2aec58-7083-4b6f-8d7d-36853fd4bf06.png)

The snapcraft.yaml file can be found in the app snap repo

https://git

[2021-09-08 09:03] guyluz11 commented on #273
Logo for the snap icon

CyBear Jinni app logo no background 256x256
https://user-images.githubusercontent.com/9304740/132479923-a94aa095-3cf5-4e08-a2ea-d3f9593144e2.png
![CyBear Jinni app logo no background 256x256](https://user-images.githubusercontent.com/9304740/132479923-a94aa095-3cf5-4e08-a2ea-d3f9593144e2.png)

CyBear Jinni app logo no background 512x512
https://user-images.githubusercontent

[2021-09-08 13:47] shikharvashistha commented on #273
Greetings of the day @guyluz11,

I would be happy to work on this issue

Thanks & Regards
Shikhar Vashistha

[2021-09-08 14:41] guyluz11 commented on #273
@shikharvashistha sure, this issue is now in your hands :) .

[2021-09-09 00:24] guyluz11 commented on #267
Done

[2021-09-09 00:24] #267 closed

[2021-09-09 00:31] guyluz11 opened #278 "The icon in readme should be using the new CyBear Jinni mascot"
The mascot should be edited to be inside a smartphone similar to the old one.

https://user-images.githubusercontent.com/9304740/132602818-e8bdb845-5310-4ebf-b880-1a2b463c49cd.png

<img src="https://user-images.githubusercontent.com/9304740/132602818-e8bdb845-5310-4ebf-b880-1a2b463c49cd.png" height="300">

[2021-09-09 00:34] guyluz11 opened #279 "Add play store badges to the readme"
Left to the snap badge we need to add play store badge that will take the user to the [CyBear Jinni play store page](https://play.google.com/store/apps/details?id=com.cybear_jinni.smart_home).

![image](https://user-images.githubusercontent.com/9304740/132603205-c36d82e5-e6c3-4790-a874-786ee48f9c54.png)

[2021-09-09 14:23] guyluz11 commented on #273
I have accidentally closed the Issue without checking.
There was an error building the snap, I have fixed it (build using flutter stable instead of flutter master).

Now after building the snap I still can't see our snap logo in my luncher running on Kubuntu.
Can your try installing the snap on your Linux machine and report?, it can be downloaded from the [last stable release in the snap store](ht

[2021-09-10 04:31] shikharvashistha commented on #273
Reference used : [here](https://bugs.launchpad.net/developer-ubuntu-com/+bug/1578231)

[2021-09-10 08:30] guyluz11 commented on #273
Found this while creating the snap

[code]

I think what you referenced is deprecated.

[2021-09-11 03:55] shikharvashistha commented on #273
Greetings of the day @guyluz11,

I've also gone through the official documentation [here](https://github.com/elopio/snapcraft/blob/db6d4ea1a65ff920fe57f7f8ec27f58db4966c13/docs/your-first-snap.md#snap-icon) and it suggests the same.

Thanks & Regards
@shikharvashistha

[2021-09-11 10:45] guyluz11 commented on #273
As you can see in my picture this is only a fork of the official documentation, and it is was last updated in 2016.

![image](https://user-images.githubusercontent.com/9304740/132945168-5c814c47-c94b-4405-be0b-485d0dd37303.png)

[2021-09-11 17:46] shikharvashistha commented on #273
Greetings of the day,

The icon could be added in [this](https://askubuntu.com/questions/800685/add-a-snap-icon-to-the-desktop-ubuntu-16-04#801422) way. What do you suggest ?

Thanks & Regards
@shikharvashistha

[2021-09-11 19:39] guyluz11 commented on #273
@shikharvashistha Your first link from StackExchange askUbuntu is also from 2016.
I think your second link is ok and another good place that I found is from [snapcraft-yaml-reference](https://snapcraft.io/docs/snapcraft-yaml-reference#icon) in the icon section

[2021-09-12 16:12] guyluz11 commented on #247
![image](https://user-images.githubusercontent.com/9304740/132994931-c38ff44e-3349-4be9-a9f9-0482c1ead6ee.png)

Done

[2021-09-12 16:12] #247 closed

[2021-09-13 03:09] shikharvashistha commented on #273
Greetings of the day @guyluz11,

I guess both of the links (one provided by and you) suggest the same. I've created a pull [here](https://github.com/CyBear-Jinni-user/CBJ_App_Snap/pull/2)

Thanks & Regards
@shikharvashistha

[2021-09-13 23:04] guyluz11 opened #292 "Log system is missing"
Currently we are using print to log our Info Warnings and Errors.

Let's find a better way to do so.

[2021-09-13 23:05] guyluz11 commented on #292
Let's go with [logger](https://pub.dev/packages/logger) as it is popular and looks good.

[2021-09-13 23:07] guyluz11 commented on #292
Good

[2021-09-13 23:07] #292 closed

[2021-09-13 23:09] guyluz11 opened #294 "Convert all prints to logs"
Follow up to  #292  we now need to convert all the pints in the app to use the new log system that we have added.

Just use `logger.i('Text');` instead of `print('Text');` and import the logger function from `import 'package:cybear_jinni/utils.dart';`

Here are the types of log that you can use
[code]

[2021-09-14 08:39] guyluz11 commented on #273
Looks good

![image](https://user-images.githubusercontent.com/9304740/133224848-ba8df5a5-ec11-4dbe-8d2a-2849f63a62eb.png)

Will close now the issue.

Thanks @shikharvashistha for all the help

[2021-09-14 08:39] #273 closed

[2021-09-21 09:35] ahkamkhalaf opened #296 "hello sir , i want to know what the steps to control smart lamp remotly using flutter"

[2021-09-21 10:03] guyluz11 commented on #296
Hi @ahkamkhalaf how are you.

Currently you can control the supported devices only in the local network, we are working on adding support to control outside of the home too.

First you need to check if your device vendor is supported, we currently support Yeelight, Switcher, ESPHome, Tasmota and we are working on more.
If your vendor does not exist you can ask us to add support for it with GitHub

[2021-09-21 11:01] guyluz11 commented on #296
That sounds like a question for programming forums, this github repo is **dedicated** for CyBear Jinni.

But in general it depends on a lot of staff.
Most of the time you have A smarter device that sits in the middle like a hub and it is talking to the google cloud.

With a quick google search I have found this [Can Arduino Uno send data to Cloud Firestore?](https://stackoverflow.com/questions/564

[2021-09-22 10:33] guyluz11 commented on #296
Will close this issue as it is not relevant to CyBear Jinni

[2021-09-22 10:33] #296 closed

[2021-09-23 12:05] guyluz11 opened #297 "Changing position of the plus button"
Let's insert the plus button into the page navigator at the bottom and make it so that it will open a new page (not slide like the rest of the navigation bar) where the user will choose what he wants to add Scenes, Devices and more.

![image](https://user-images.githubusercontent.com/9304740/134503656-68fe96b0-7e22-4530-aff0-7c05a82641a9.png)

[2021-09-23 13:30] guyluz11 commented on #297
Done

[2021-09-23 13:30] #297 closed

[2021-09-27 16:18] Pranjalmishra30 commented on #279
Hey, i can do this. Could you assign this to me.
Also is there color scheme/preference that you are following ?
Thanks  :)

[2021-09-27 17:07] guyluz11 commented on #279
Sure @Pranjalmishra30
There is no color scheme.

[2021-09-27 18:16] Kushalrock commented on #294
I can surely do that. I have good experience with dart and flutter. This can be a great issue to start with to know more about the project and to actually contribute something on the way. After knowing about the project, I can contribute to the more complicated issues too.

[2021-09-28 10:07] guyluz11 commented on #294
Sure @Kushalrock
I will assign the issue to you, pull requests are always welcome.
You can talk to me on the CyBear Jinni Discord server if you want to know more, need any help, ask questions, talk about the code, and more.

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2021-09-28 15:55] Saransh-cpp commented on #278
Hi @guyluz11, can I take this up under hacktoberfest?

[2021-09-28 18:20] guyluz11 commented on #278
Sure @Saransh-cpp
Will put this one on you.

[2021-09-30 04:08] ShrutiJ-01 commented on #201
Hello @guyluz11 , I'd like to work on this issue!

[2021-09-30 05:27] Saransh-cpp commented on #278
Hi @guyluz11, does this look good?

[<div align="center"><img alt="CyBear Jinni image" height="400" src="https://user-images.githubusercontent.com/74055102/135392416-b055135a-2b24-4076-93f4-c54d1f817912.png">](https://github.com/CyBear-Jinni/CBJ_Smart-Home)
</div>

[2021-09-30 07:32] guyluz11 commented on #201
Sure @ShrutiJ-01
Let me know if you need any help.
You can use [this liquid animation](https://pub.dev/packages/liquid_progress_indicator) that is already included.

[2021-09-30 07:35] guyluz11 commented on #278
@Saransh-cpp does the area around the phone transparent?.
If so then this is great.

[2021-10-01 11:23] guyluz11 commented on #278
Thanks @Saransh-cpp for completing the issue.

You are welcome to star the repo to show your support in our goal to make the world a better place 🌏.

[2021-10-01 11:23] #278 closed

[2021-10-01 11:24] Saransh-cpp commented on #278
Sure! My pleasure!

[2021-10-01 11:40] guyluz11 commented on #279
Thanks @Pranjalmishra30  completing the issue, your response was very quick.

Will close now the issue.

You are welcome to star the repo to show your support in our goal to make the world a better place earth_asia.

[2021-10-01 11:40] #279 closed

[2021-10-03 03:33] ThilinaTCH commented on #233
@guyluz11 can I work on this?

[2021-10-03 08:34] guyluz11 commented on #233
Cool sound good @ThilinaTCH
This issue is now yours.

[2021-10-05 11:30] ThilinaTCH commented on #233
@guyluz11 What is the flutter version used for the project?

[2021-10-05 14:36] guyluz11 commented on #233
@ThilinaTCH  as writen in the `pubspec.yaml`
[code]
I am using `2.5.2`
[code]

[2021-10-05 14:41] ThilinaTCH commented on #233
Yeah I did this with flutter 2.5.2 and created the PR

On Wed, 6 Oct 2021 at 03:36, Guy Luz ***@***.***> wrote:

--
Thanks and Regards,
Thilina

[2021-10-05 21:47] guyluz11 opened #309 "Mac app icon is incorrect"
Mac app icon is incorrect, it should be CyBear jinni icon and not the flutter icon.

[2021-10-05 21:51] guyluz11 commented on #233
Thanks for the pull request, will close this issue now.

Happy Hacktoberfest

[2021-10-05 21:51] #233 closed

[2021-10-05 21:54] ThilinaTCH commented on #309
@guyluz11 Please assign this to me

[2021-10-06 07:18] guyluz11 commented on #309
Thanks @ThilinaTCH , you got it

[2021-10-06 11:35] guyluz11 commented on #309
Thanks for compiling another issue @ThilinaTCH

Will close the issue now.

[2021-10-06 11:35] #309 closed

[2021-10-06 12:18] guyluz11 opened #312 "Login page for Lifx is needed"
Currently we are implementing cloud Lifx support.

So for the hub to connect to Lifx cloud the api key is needed, each user needs to enter the api key manually in the app and need to be sent to the Hub.

https://github.com/CyBear-Jinni/cbj_hub/issues/52

[2021-10-06 20:21] estim commented on #56
@Tamir198 I see it lacks some of translations, like:
  "Update_WiFi_configuration", "WiFi_name_is_required", etc. About 10 lines comparing to EN_US

[2021-10-07 13:44] guyluz11 opened #315 "Not all of the app support translation"
There is a big part of the app that does not support translation.

For the app to support translation there are 3 things that need to be added for each text string:

1. Importing the `easy_localization` dependency
`import 'package:easy_localization/easy_localization.dart';`
2. Adding `.tr()` after the text string, for example `'hey'` going te become `'hey'.tr()`, and if this is `Text` widget it is

[2021-10-09 16:17] #312 closed

[2021-10-10 17:04] guyluz11 opened #317 "Tuya page add drop down for region"
In the Tuya sign in page please change the text field Region into a dropdown of the following regions

`cn`, `eu`, `us`

<img alt="Tuya sign in page" height="400" src="https://user-images.githubusercontent.com/9304740/136705953-ab559cf5-5a15-4505-a9fe-988e6a9db2e3.png">

Bonus: find the current user region and insert it on page load.

[2021-10-10 17:07] guyluz11 opened #318 "Detect current country code automaticly for user"
On the Tuya sign page the user needs to enter his country code.
It will be nice that it will be filled automatically for the user on page load and there will be an option to change it.

<img alt="Tuya sign in page" height="400" src="https://user-images.githubusercontent.com/9304740/136705953-ab559cf5-5a15-4505-a9fe-988e6a9db2e3.png">

[2021-10-13 06:31] Ashwith25 commented on #318
Shall I work on this?

[2021-10-17 09:30] #272 closed

[2021-10-27 12:31] mansigautam777 opened #325 "Add users page to the application"

[2021-10-29 15:53] guyluz11 opened #328 "Run dart format on pull requests from dev to main"
Run automatic format from dev branch to main since github does now allow otherwise.

[2021-10-29 15:57] #328 closed, assigned to EilayDev

[2021-10-29 19:52] guyluz11 commented on #317
Thanks for the pull request,

Feel free to star the repo to show your support in the project.

Happy Hacktoberfest

[2021-10-29 19:52] #317 closed

[2021-10-31 09:48] guyluz11 opened #332 "Support adding Remote Pipes DNS"
Since Remote Pips is in a working state (each home needs to be configured manually) we need to add support for adding your home path DNS inside the app so that it will know where it should connect to.

After the user added the DNS it will save it locally on the smartphone and will send it to the Hub so that he will be able to use and save it too.

[2021-11-04 10:16] guyluz11 commented on #332
Done, thanks

[2021-11-04 10:16] #332 closed

[2021-11-09 10:04] guyluz11 opened #338 "Colored lights need upgrade"
Colored light currently has a couple of limitations that need to be worked on

- [x] #349

See example from Yeelight App
<img alt="Yeelight change white colors" height="200" src="https://user-images.githubusercontent.com/9304740/140902928-d36b7cd9-10be-418c-8ec4-472662aac85e.png">

- [x] #348
- [x] #346
- [x] #347

[2021-11-09 10:10] guyluz11 opened #339 "Lights position is off"
Lights (without color) position is off and need to be in straight columns and the same number in each row

<img alt="Ragular lights page" height="500" src="https://user-images.githubusercontent.com/9304740/140904543-cce64c39-a78f-4221-8a12-1b37373db0d9.png">

[2021-11-12 11:38] Tamir198 opened #342 "Devices screen is not responsive"
Hey, I have looked at this screen:

![image](https://user-images.githubusercontent.com/34707669/141461246-5c2cc015-8e4b-4d76-b22e-fc63b4a4f222.png)

Looks like its not responsive and it would be nice if you can fix this.

[2021-11-12 19:22] guyluz11 opened #344 "Remote pipes connection timout"
After 10m the connection to the remote pipes time out with the error

``` ⛔ Client stream error: gRPC Error (code: 2, codeName: UNKNOWN, message: HTTP/2 error: Connection error: Connection is being forcefully terminated. (errorCode: 10), details: null, rawResponse: null, trailers: {})```

[The issue exists also in the cbj Hub repo](https://github.com/CyBear-Jinni/cbj_hub/issues/97)

[2021-11-12 19:26] guyluz11 commented on #344
Fixed that in the next version of the cbj hub.

The hub will send device ping requests to the remote pipes which will arrive here and will get ignored.
As long as the cbj hub is connected to the remote pipes the stream here will not break as it keeps getting data before the

arravice.

[2021-11-12 19:26] #344 closed

[2021-11-13 07:31] Brolan14 commented on #342
i think i can help you with your problem,but first can you tell me what should be fix , your device frozen or this program is not responsive

[2021-11-13 10:43] Tamir198 commented on #342
@Brolan14   The program is not responsive

[2021-11-13 10:54] guyluz11 commented on #342
I think @Tamir198  is talking about the

[2021-11-14 18:12] guyluz11 opened #346 "Color slider is not comfortable to use as it is too small."

[2021-11-14 18:12] guyluz11 opened #347 "Sliding the color slider will send too many requests (the smart light bulbs can't handle it and stop working for about 1s)."

[2021-11-14 18:12] guyluz11 opened #348 "Slider for brightness control is missing."

[2021-11-14 18:12] guyluz11 opened #349 "White color slide is missing (not the same as just choosing colors)"

[2021-11-15 12:48] guyluz11 commented on #346
Done

[2021-11-15 12:48] #346 closed

[2021-11-15 12:48] guyluz11 commented on #348
Done

[2021-11-15 12:48] #348 closed

[2021-11-15 12:49] guyluz11 commented on #347
Done, also added the same functionality to the brightness slider.

[2021-11-15 12:49] #347 closed

[2021-11-22 13:07] guyluz11 opened #352 "Add functionality to connect CyBear Jinni Hub to WiFi network"
We need to add the option to connect a new Hub device to the local WiFi.

This functionality can be done using [Security Bear](https://github.com/CyBear-Jinni/security_bear).

Security Bear will automatically connect to WiFi in range with the name and password `CyBear Jinni` and can receive new WiFi credentials with gRPC request.

The app should take the user the following setup

1. The user will

[2021-11-22 15:05] Atharv-Joshi commented on #342
I would like to work on this if its still pending?

[2021-11-22 17:52] guyluz11 commented on #342
Sure @Atharv-Joshi

[2021-11-28 15:06] guyluz11 opened #354 "A Software info page is required"
A software info page is required in order to know the versioning of all the connected software.

This includes the app itself, CyBear Jinni Hub, Security Bear.

[2021-11-28 17:11] guyluz11 commented on #354
Pull request for this got merged, thanks.

[2021-11-28 17:11] #354 closed

[2021-11-28 17:13] guyluz11 commented on #352
Pull requests for this got merged, thanks.

[2021-11-28 17:13] #352 closed

[2021-11-30 17:56] guyluz11 commented on #349
Done, thanks

[2021-11-30 17:56] #349 closed

[2021-11-30 17:57] guyluz11 commented on #338
Done, thanks.

[2021-11-30 17:57] #338 closed

[2021-12-01 11:31] Atharv-Joshi commented on #342
Hey! I am currently busy so I dont think I can do a pr right now.
So you can unassign me , the issue will be good opportunity for a begineer and I dont want to block it1

[2021-12-05 21:27] guyluz11 opened #355 "Add room support"
The app should get rooms to list with devices id from the Hub as mentioned here https://github.com/CyBear-Jinni/cbj_hub/issues/116 .
Than it should reorganized all the devices based on their rooms.

Devices in the same room from the same type should show be grouped as it does now.

[2021-12-07 09:58] guyluz11 opened #356 "Screen for creating new rooms and change rooms for devices"
A new screen is needed in order to create new rooms in the house and move devices between the rooms.

This is the next step after #355 is complete.

Moc

![image](https://user-images.githubusercontent.com/9304740/145011060-c295ce9a-5711-4448-99ce-53dbc152acca.png)

Add Room button should open a popup that will ask the user
Room Name - Name of the room text box
Room Type - What is the purpose of th

[2021-12-12 09:33] guyluz11 commented on #356
Done

[2021-12-12 09:33] #356 closed

[2021-12-12 09:33] guyluz11 commented on #355
Done

[2021-12-12 09:33] #355 closed

[2021-12-12 15:23] guyluz11 opened #358 "Add sign in page for Smart Life and Jinvoo Smart"
After adding support for Smart Life and Jinvoo Smart in the hub
issue: https://github.com/CyBear-Jinni/cbj_hub/issues/115

We need to add a page to set it up in the app.

[2021-12-12 21:50] guyluz11 commented on #358
Done

[2021-12-12 21:50] #358 closed

[2021-12-14 22:34] guyluz11 opened #366 "All settings options should move to the plus button page"
Currently our settings menu exist can be shown if the user presses the man with the cog in the top left corner of the Devices and Scenes tabs

<img alt="Devices Page" height="500" src="https://user-images.githubusercontent.com/9304740/146089090-be5985c0-0e29-4644-b0e4-4f9fcf369e7c.jpeg">

It will open the settings drawer from the side

<img alt="Devices Page" height="500" src="https://user-images.

[2021-12-15 09:27] guyluz11 commented on #366
#325 can be closed as we removed this page for now in commit #367

[2021-12-15 09:28] guyluz11 commented on #325
can be closed as we removed this page for now in commit #367

Thanks

[2021-12-15 09:28] #325 closed

[2021-12-15 09:29] guyluz11 commented on #366
Done, thanks

[2021-12-15 09:29] #366 closed

[2021-12-17 00:49] guyluz11 opened #368 "RGBw lights do not load their default color and brightness state on first load"
Lights in the `RGBw Lights` page do not load the color temperature and brightness when the page is opened.
The user can change the values but exiting this page and reentering will show the default values instead of the actual current values.

https://github.com/CyBear-Jinni/cbj_app/blob/7c57a4fd32e85cee0cf061aa720f0bdc8f64802e/lib/application/light_toggle/light_toggle_state.dart#L12

[2021-12-18 09:39] guyluz11 opened #369 "The Discovered room should be shown last in the rooms list"
The Discovered room should be shown last in the rooms list.
Also discovered room need to be invisible if he is empty.

[2021-12-18 09:42] guyluz11 opened #370 "All Devices room should be added"
All Devices room should be added to the app if there is more than one room exist.
It should be shown second in the list where the Summary room should be first, the user will be able to control all the devices from the same type in the house with one click.

[2021-12-18 14:57] guyluz11 opened #371 "Summary room should be added"
Summary room should be sown first in the app.

It will show all the devices that their state is on, light and switches that are on and blinds that are up.

[2021-12-22 13:59] guyluz11 commented on #371
Done

[2021-12-22 13:59] #371 closed

[2021-12-22 13:59] guyluz11 commented on #370
Done

[2021-12-22 13:59] #370 closed

[2021-12-22 14:00] guyluz11 commented on #369
Done

[2021-12-22 14:00] #369 closed

[2021-12-22 14:00] guyluz11 commented on #368
Done

[2021-12-22 14:00] #368 closed

[2021-12-28 22:59] guyluz11 opened #375 "Add support for generic smart plug device type"
Currently we do not have support for a smart plug device type.

The Hub does not support if either so let's add support for it there too
Blocker https://github.com/CyBear-Jinni/cbj_hub/issues/135

[2022-01-03 14:56] guyluz11 commented on #375
Done

[2022-01-03 14:56] #375 closed

[2022-02-02 09:47] guyluz11 commented on #318
Also found these two packages that may help
[country_code_picker](https://pub.dev/packages/country_code_picker)
[country_picker](https://pub.dev/packages/country_picker)

[2022-02-15 12:42] guyluz11 commented on #242
Thanks

[2022-02-15 12:42] #242 closed

[2022-05-08 11:40] guyluz11 opened #379 "Devices Scroll location changing when list size changes"
Whenever we turn devices on and off they are added and removed from the summary section, because of that the size of the list is changing and your current place in the list changes a little bit up or down.

We should keep the user in the same position that he scrolled even when new items are added or removed from the list.

![20220508_144232](https://user-images.githubusercontent.com/9304740/16729

[2022-05-11 08:56] guyluz11 opened #380 "Actions do not get sent to the Hub after the app got minimized for long"
After minimizing the app for a while the connection to the Hub stops.

The user will bring it back from running in the background and it will look as if it works, but requests will not get sent to the Hub.

After closing and opening the app again everything will work, and the user will see that his requests/changes are not being displayed as if they didn't happen.

Fix for that should be to listen

[2022-05-11 09:01] guyluz11 opened #381 "Moving between WiFi and cellular internet connection after the app is open can stop Hub connection"
Moving between WiFi and cellular internet connection will look as if the app is working but the requests stop being sent to the Hub.

We prefer (most of the time) to send local requests (WiFi) if possible.

[2022-05-11 09:04] guyluz11 commented on #381
Maybe can be fixed with  #380

[2022-06-20 09:58] guyluz11 commented on #380
Should be fixed, was not tested but will close this for now.

Re-open if it does not solve the issue.

[2022-06-20 10:01] #339 closed, assigned to guyluz11

[2022-06-20 10:20] guyluz11 commented on #294
Done

[2022-06-20 10:20] #294 closed

[2022-07-17 14:31] guyluz11 commented on #380
Still can be reproduce

[2022-07-17 14:39] guyluz11 opened #384 "App does not get devices if Hub wasn't online when it got opened"
The app only searches for the Hub once when it got opened.
If the Hub started after the app no new connection will be created from the app to the Hub.

[2022-07-17 14:39] guyluz11 commented on #384
Maybe the same fix as #380

[2022-07-17 15:06] guyluz11 commented on #384
Pull request got marged, will close the issue now

[2022-07-17 15:06] #384 closed

[2022-07-17 15:06] guyluz11 commented on #380
Pull request got marged, will close the issue now

[2022-07-17 15:06] #380 closed

[2022-07-23 20:53] guyluz11 opened #386 "Add support for routines automation type"
Currntly we have only one type of automation supported and it is Scenes.

Scenes is a button that when pressed includes a number of actions that got chosen before at the same time with one click.

Routines is to trigger actions based on time.

Example:
Each day at 2:00 turn off outside lights and turn down all blinds.

[2022-07-23 21:02] guyluz11 opened #388 "Add button that will open Node-RED"
Our program functionality is integrated with Node-RED.

Advanced users can even create automation in the app and they will get created in node read.
This helps users to more advance automation functionality and interact with it throw the UI of Node-RED.

As the Node-RED is installed on the Hub users can't connect to it unless they know how to.
Going to the browser and writing the IP of the Hub wit

[2022-07-23 21:10] guyluz11 opened #389 "Tasmota logo does not load up"
The logo of Tasmota got broken in the `Add service` page

![signal-2022-07-24-000247_001](https://user-images.githubusercontent.com/9304740/180622963-b8ecabba-153a-4c3b-a9a3-32e294626899.jpeg)

[2022-07-23 23:11] guyluz11 commented on #386
Merged pull request.

Will close the issue now.

[2022-07-23 23:11] #386 closed

[2022-07-23 23:11] guyluz11 commented on #388
Merged pull request.

Will close the issue now.

[2022-07-23 23:11] #388 closed

[2022-07-23 23:11] guyluz11 commented on #389
Merged pull request.

Will close the issue now.

[2022-07-23 23:11] #389 closed

[2022-07-26 16:24] guyluz11 opened #745 "Add support for spotify"
[Spotify](https://www.spotify.com) is a music streaming company, a lot of devices in the market supports Spotify.

[14.6% of all Home Assistant users](https://www.home-assistant.io/integrations/spotify) are using it.

<img src="https://user-images.githubusercontent.com/9304740/181059260-dec2dad8-a2bd-42f8-8729-d9bfa5f21f1c.png" height="250">

[2022-07-28 09:41] guyluz11 opened #390 "Adding devices to room remove old devices"
When adding new devices to the existing room the old devices in that room stop showing up in that room.

[2022-07-28 18:47] guyluz11 opened #392 "Add support for geofence"
It would be cool for actions/Scenes to start depending on my phone location.

This is called geofence, were based on sending location inside area or outside we can do stuff.

[2022-07-28 18:48] guyluz11 commented on #392
Found this cool and popular geofence nodeRed Palette.
It includes UI to set the geofence settings.

https://www.npmjs.com/package/node-red-node-geofence

[2022-08-09 12:09] guyluz11 commented on #390
Fixed

[2022-08-09 12:09] #390 closed

[2022-08-22 06:59] guyluz11 opened #395 "Add scenes automatically for the user"
We have added a list of possible rooms type

https://github.com/CyBear-Jinni/cbj_smart-home/blob/f579d408c4d76e511b393a655b84f115e5d09698/ProtoFiles/protos/cbj_hub_server.proto#L193

While creating a new room in the app the user will label the room with multiple room types, this will help us suggest him a scenes for that room.

The scene will be autogenerated according to science.

For example, in

[2022-09-28 16:35] charithmadhuranga opened #396 "Add support for esphome"
Considering tasmota is already supported why not add esphome.....it will be a huge influence to people already using home assistant to have a look at this app as a alternative.

[2022-09-28 21:00] guyluz11 commented on #396
Indeed, support for ESPHome could boost this projects.

Unfortunately there is no ESPHome package for dart in the pub.dev and building implementation in dart can take time.

I have actually started the work on adding support in the hub repo

https://github.com/CyBear-Jinni/cbj_hub/issues/10

But never completed the implementation, so currently it's waiting for someone to pick it up.

This project

[2022-09-28 22:09] guyluz11 commented on #395
Part of https://github.com/CyBear-Jinni/cbj_hub/pull/174

[2022-09-28 22:19] guyluz11 commented on #395
PR got accepted. Thanks

[2022-09-28 22:19] #395 closed

[2022-09-29 11:54] guyluz11 opened #398 "Update dependencies"
Please update all project dependencies to the last version.

As you probably know the project dependency versions exist in the [pubspec.yaml](https://github.com/CyBear-Jinni/cbj_app/blob/master/pubspec.yaml) file

[2022-09-29 12:32] FireNdIce3 commented on #398
Can I work on this issue?

[2022-09-29 12:37] guyluz11 commented on #398
Sure

[2022-09-29 13:02] superiorsd10 commented on #398
@guyluz11 Hey! Can I work on this issue?

[2022-09-29 13:08] guyluz11 commented on #398
Someone else is already assigned to this issue but I have a similar issue for you in another repo.
Comment here https://github.com/CyBear-Jinni/cbj_hub/issues/175 that you would like to take the issue.

[2022-10-01 04:42] FireNdIce3 commented on #398
@guyluz11 Hii. I have opened a PR and updated the dependencies. Can you please look into it?

[2022-10-01 07:58] guyluz11 commented on #398
@FireNdIce3 thanks for pr.
It got merged so I am closing the issue now.

Happy Hacktoberfest :)

[2022-10-01 07:58] #398 closed

[2022-10-01 08:21] superiorsd10 commented on #315
@guyluz11 Can I work on this issue?

[2022-10-01 08:21] guyluz11 commented on #315
Yep

[2022-10-01 16:03] guyluz11 commented on #315
Thanks for the pr.

[2022-10-01 16:12] superiorsd10 commented on #315
You're most welcome :)

[2022-10-02 09:17] UtkarshDeoli commented on #318
hey may i work on this ?? and can you tell what has been done and what else is needed to be done

[2022-10-02 09:23] guyluz11 commented on #318
Sure @UtkarshDeoli it is yours.
I have taken another look at it and I think you better start from the beginning, not sure if the staff has changed since the pr and can be done in a better way.
You can draw inspiration from the pr #321 and take a look at the comments that I have left there.

If you need any help you can ping me in the discord server of cbj
[<img src="https://cdn.icon-icons.com/icon

[2022-10-02 09:58] Pargat-Dhanjal opened #406 "UX redesign - Feature Requested"
Would gladly work on the entire UI redesign for the web application.

[2022-10-02 10:00] #406 closed

[2022-10-02 10:17] guyluz11 commented on #406
That sounds cool bummer that it got closed XD

By the way, our website is in this repo
https://github.com/CyBear-Jinni/CBJ_Site

[2022-10-02 10:33] si-ddhant commented on #56
Hey!! Is this repo and issue taking part in hacktoberfest 2022?

[2022-10-02 10:34] guyluz11 commented on #56
Yes it does :)

[2022-10-02 11:36] guyluz11 commented on #396
@charithmadhuranga I have a question for you.
Does having support for ESPHome web server good enough?

I found out that if people add to the ESPHome configuration file (`.yaml`) the following part

[code]

which adds a web server it will be easier to create a code for cbj to interact with it.

I worry that most people do not use that and will think cbj just can't find their supported devices since

[2022-10-02 12:29] Sahilbal commented on #56
please guide me how to do pull request. I am completed with translation part but dont know what to do next.

[2022-10-02 12:30] harshit-maheshwari opened #412 "Differences between Supported vendor's logo"
![image](https://user-images.githubusercontent.com/55666814/193453753-554eb332-b79c-4110-8830-498b6f024366.png)
While checking the website I found out that the Supported vendor's logo present in the website have this uneven organization of border radius, which is reducing the appeal of the website as well as this disorganized border radius will impact the end-user negatively.

This issue can be re

[2022-10-02 12:31] harshit-maheshwari commented on #412
I am able to work on this, Please assign this issue to me!

[2022-10-02 13:20] Sahilbal commented on #56
@guyluz11 hey!! I can translate the given file into PUNJABI, A language spoken in the Punjab region of INDIA.
can you please assign this to me?

[2022-10-02 13:59] guyluz11 commented on #412
I believe this can help the site look better.

We can make all the borders radius the same as the red one (Yeelight) and that will make it look better.

@harshit-maheshwari  you have mentioned CSS but this repo uses an entirely different technology named Flutter.
If that is still something that you can handle I will gladly assign the issue to you.

[2022-10-02 14:02] guyluz11 commented on #56
Sure, for this issue specifically we do not assign it.
But don't worry, I will add hacktoberfest-accapted label for your pr so that it will count.

[2022-10-02 15:13] harshit-maheshwari commented on #412
Yes! I am able to do this task in flutter too, it requires basic knowledge of dart and I am able to correct this issue.

[2022-10-02 15:21] SanjaySargam commented on #318
Can I contribute???

[2022-10-02 16:26] guyluz11 commented on #412
It is yours

[2022-10-02 17:17] harshit-maheshwari opened #419 "Ambigious description of the Translation issue"
Hi, I was checking translation file of Hindi(India)
having code hi-IN.json file and found out that there was no proper translation of the keywords.
I found a major issues with this translation file and this issue was Dominant and severe:

Blind is a homonyms and have different meanings in the english language and most prominent meaning of "blind" is "A person who can't see",
Similar is with word "

[2022-10-02 18:13] UtkarshDeoli commented on #318
@guyluz11 thank you for assigning it to me

[2022-10-02 20:36] arefathi commented on #56
Hello @guyluz11

I would like to contribute Amharic translation to the project.
I like the IoT space but I haven't worked on it, the project looks really great.

This year for Hacktoberfest, I decided to make some low-code contributions such as translations and documentation because I learned that my native language Amharic is a very low-resource language; and I wanted to make some contributions r

[2022-10-02 23:55] guyluz11 commented on #318
Hi @SanjaySargam someone just took this issue, sorry.

[2022-10-03 04:08] Sahilbal commented on #56
@guyluz11 please guide me how to do pull request. I am completed with translation part but dont know what to do next.

[2022-10-03 08:22] guyluz11 commented on #56
If you need any help ask in cbj discord server 😁

[<img src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" height="80">](https://discord.gg/mUXfwUY)

[2022-10-03 08:35] guyluz11 commented on #56
Hi @arefathi and thanks for joining.

I have found [here](https://stackoverflow.com/questions/7973023/what-is-the-list-of-supported-languages-locales-on-android)  that your language is also supported.
So your are free to continue, I will accept your pr 😁

[2022-10-03 08:55] guyluz11 commented on #419
@harshit-maheshwari thanks for your help in the project it is very heartwarming.

I can see your concerts and I think it could help the project to have such a translation guiding file.

We are trying to make contributing and translations to the project as easy as it can be, so we are ok with wrong (hopefully not insulting) translations as we know that some users of the app will fix that when neede

[2022-10-03 09:01] guyluz11 opened #428 "Adding translations"
Hi

Do you want to help open source project?, or perhaps you're looking for easy pull request!.

If you know how to write this is your chance, lets get down to it.

First locate your language in [this page](https://lingohub.com/developers/supported-locales/language-designators-with-regions).
Now remember the `Language` (two letter) `-` `Region` (two capital letter) of your region.

In [this folder

[2022-10-03 09:03] #56 closed

[2022-10-03 09:13] guyluz11 opened #429 "Readme file missing most of the Social Media Links"
Readme file missing most of the Social Media Links

![image](https://user-images.githubusercontent.com/9304740/193541356-2f798a89-962c-4322-aea9-7890a7c25d37.png)

As you can see at the bottom of our site we have accounts on many more social media platforms.

https://cybearjinni.com/#/

![image](https://user-images.githubusercontent.com/9304740/193541720-c348c41c-f738-448e-9ab1-3404830b7715.png)

[2022-10-03 09:19] guyluz11 commented on #412
@harshit-maheshwari the repo of the site exists here
https://github.com/CyBear-Jinni/CBJ_Site

Can you open the same issue there?, this repo is about the app and it will be wrong to keep the conversation here.

Thanks

[2022-10-03 09:19] #412 closed

[2022-10-03 09:20] guyluz11 commented on #429
It is yours @Mahich123

[2022-10-03 09:22] Antibodyy commented on #428
Ill take it up!

[2022-10-03 09:30] guyluz11 commented on #428
Greate @Antibodyy, just open pr.
Just for this issue we do not assign it to people, I will add a Hacktoberfest-accepted label to the pr's and it will count for you.

[2022-10-03 09:48] Mahich123 commented on #429
Great !! Keeping the social media icons in this order as you shown at the image . And can you share the links ?

[2022-10-03 09:50] adityar224 commented on #429
Hey I Didn't see this and have already raised a pull request 😢

[2022-10-03 10:01] Mahich123 commented on #429
Ohh ! I also did showing merge blocked
@guyluz11  can you check it please .

[2022-10-03 10:47] ojninja16 commented on #428
I would also  like to work on it....

[2022-10-03 11:18] AnshikaAnand222 commented on #428
I would like to work in this.

[2022-10-03 11:38] arefathi commented on #428
Hello again @guyluz11
I have submitted a PR for the Amharic language under #437
Thanks for the opportunity. Appreciate it.

[2022-10-03 11:43] boringdeveloper commented on #428
Hello, I have opened PR #438 to add Filipino language translation.

[2022-10-03 12:13] guyluz11 opened #444 "Make demo mode load the app with devices"
Currently we have a demo mod button in the app.

It bypasses finding the Hub screen but does not show any devices.

Loading the app in demo mode with devices can help new users get an impression of the app without setting the Hub up (or without having smart devices), it will also help developers work on the app without the hassle to set up a cbj Hub just for contributing.

It will open much more o

[2022-10-03 12:21] guyluz11 commented on #318
How are you @SanjaySargam and @Julienjthomas

This issue is already got assigned to someone.
I am working on a way to use the app in demo mode which will help make contributing to most parts of the app much easier (without setting cbj Hub and having smart devices).

So that I don't forget that you are searching issue to help please comment here #444 that you would like to get notified when it is d

[2022-10-03 14:17] guyluz11 commented on #429
Thanks

[2022-10-03 14:17] #429 closed

[2022-10-03 17:18] InquisitiveMe15 commented on #428
Hello! @guyluz11
I have added a few more translations in hi-IN.json that were missing in that file.
For this I have opened PR #452 .
Kindly merge my pull request.
Thank you!

[2022-10-03 20:25] guyluz11 opened #456 "Update android targetSdkVersion version to 33"
It would be nice to update targetSdkVersion of the app to the last version 33.

[2022-10-03 20:27] guyluz11 commented on #456
Done Thanks

[2022-10-03 20:27] #456 closed

[2022-10-03 20:27] guyluz11 commented on #444
Done thanks

[2022-10-03 20:27] #444 closed

[2022-10-03 20:59] guyluz11 opened #458 "Demo mode devices are hard coded"
I have just pushed the demo mode of the app and I used hard-coded values for the devices.

This is bad practice as we all know XD.

Please change the hard coded devices string that comes from the Hub (in demo mode).

You should create an object of that device with all the corresponding values, then use `.toDts` on it and then use `.toJsonString`.

https://github.com/CyBear-Jinni/cbj_app/blob/0cbb6

[2022-10-03 21:20] guyluz11 commented on #342
I have just added to the Wiki instructions on [how to get to the demo mode](https://github.com/CyBear-Jinni/cbj_app/wiki/How-to-open-app-in-demo-mode) so use it to test that.

[2022-10-03 21:20] guyluz11 commented on #201
I have just added to the Wiki instructions on [how to get to the demo mode](https://github.com/CyBear-Jinni/cbj_app/wiki/How-to-open-app-in-demo-mode) so use it to test that.

[2022-10-03 22:59] guyluz11 opened #461 "Login with remote pipes"
Currently you can log into the app in two ways

By setting a CBJ hub the app detected it in the local network and connect to it.

By opening demo mode of the app with mock devices.

Cbj remote pipes lets you connect to a hub through a domain.
Currently the app already support connecting through CBJ remote pipes but only after login to a hub in the local network.

The screen to login to the remote

[2022-10-03 23:02] Cesar-M-Diaz commented on #428
Hi ! I just added the es-US translation.
Here's the PR for that change #460, let me know if you need anything else :)
Thanks for the opportunity !

[2022-10-04 03:35] Simran1604 commented on #458
Hey! I'd like to take this up

[2022-10-04 04:16] Akhil-blanc commented on #428
hey! I just added the ja-JP translation.
I opened  PR #462, for the change.
Thanks for the opportunity.

[2022-10-04 07:09] guyluz11 commented on #458
Yours @Simran1604

[2022-10-04 12:12] vinayjain18 commented on #428
Hello @guyluz11 ,
I have added the Malayalam language under PR #470
Thanks for the opportunity

[2022-10-04 12:48] guyluz11 opened #473 "Readme cbj hub link is incorrect"
I have found out that the link to CBJ hub repo in the readme file is incorrect.

Currently getting to cbj smart device which is wrong.

The linked should change to this

https://github.com/CyBear-Jinni/cbj_hub

Take it only if you're ready to complete it in the next few hours as this is important.

[2022-10-04 12:53] guyluz11 commented on #473
@techsnap sure
Please complete it asp as this is important to fix

[2022-10-04 12:54] techsnap commented on #473
Sure!

[2022-10-04 13:00] techsnap commented on #473
Hey, project's contributing.md file says to open pull request to dev branch instead of master. Should I also fork dev branch and make a new branch for myself from dev instead of master?

[2022-10-04 13:19] AdityaKeshan commented on #342
Hi, I would like to work on this

[2022-10-04 14:45] guyluz11 commented on #473
PR got merged.

Will close the issue now

[2022-10-04 14:45] #473 closed

[2022-10-04 16:00] UtkarshDeoli commented on #444
Hey if there are more issues under hacktober that are good for biggners please inform me when u open the issue.

[2022-10-04 16:03] Summiedev commented on #379
Please assign me this

[2022-10-04 16:09] guyluz11 commented on #379
Yours @Summiedev

[2022-10-04 16:22] guyluz11 commented on #201
@UtkarshDeoli it is now yours

[2022-10-04 16:39] guyluz11 opened #482 "Update all dependencies"
Please update project dependencies to the last version and check that app can be compiled and run without errors.

[2022-10-04 16:52] UtkarshDeoli opened #483 "Page:(Connect to Hub) Issue:(pixel over flow when keybord is opened)"
![photo_2022-10-04_22-18-55](https://user-images.githubusercontent.com/89682101/193879360-7545cca9-3b03-4f25-af42-f20c573b182c.jpg)

There is a overflow of 180 pixels at the bottom when keybird is opened

[2022-10-04 16:53] UtkarshDeoli commented on #483
hey can u assign this to me under Hacktober ?

[2022-10-04 16:54] UtkarshDeoli commented on #482
Hey can you assign this to me ? looks easy for biggners.

[2022-10-04 17:01] guyluz11 commented on #483
Sure @UtkarshDeoli and nice keyboard 😉

[2022-10-04 17:08] guyluz11 commented on #482
Sure @UtkarshDeoli , you can do it :)

[2022-10-04 17:13] UtkarshDeoli commented on #483
Thank You 😊😁

[2022-10-04 17:45] piyushkumar12111111 commented on #315
Please assign this to me

[2022-10-04 17:46] piyushkumar12111111 commented on #482
Assign this to me

[2022-10-04 17:46] guyluz11 commented on #315
@piyushkumar12111111 sure :)

[2022-10-04 17:47] guyluz11 commented on #482
@piyushkumar12111111 sorry but it is already assigned to someone else.

[2022-10-04 18:04] piyushkumar12111111 commented on #482
May i  give push request

[2022-10-04 18:06] piyushkumar12111111 commented on #396
Assign this to me

[2022-10-04 18:21] AdityaKeshan commented on #342
![image](https://user-images.githubusercontent.com/60391695/193895652-a5c779d4-85ae-4fef-b093-28af97650e08.png)
Hi, The page seems to be working fine. There was no overflow or misalignment problem.

[2022-10-04 18:22] guyluz11 commented on #396
@piyushkumar12111111 ESPHome is running on Arduino.

Do you have Arduino with ESPHome installed?
If so please comment here https://github.com/CyBear-Jinni/cbj_hub/issues/10, adding ESPHome support should come from the cbj hub and not the app.

For any help about it you can ask in the cbj discord server
<a href="https://discord.gg/mUXfwUY">
<img align="left" alt="Discord" width="45px" src="https://

[2022-10-04 18:26] guyluz11 commented on #342
Did you try on several screen sizes?
I do remember that I have tried to fix that but not what happened in the end.

I think in the picture he is using a google pixel 4 screen size

[2022-10-04 18:26] AdityaKeshan commented on #342
yeah i tried using emulator. Works fine

[2022-10-04 18:33] guyluz11 commented on #482
No, it is already assigned to someone else.

[2022-10-04 18:38] guyluz11 commented on #342
Cool we are all good :).

Would you like to get a new issue?

[2022-10-04 18:44] guyluz11 opened #487 "Software Info text is out of bound"
The text in the Software Info screen is out of bounds

To arrive at the screen

1. Open the app in [demo mode](https://github.com/CyBear-Jinni/cbj_app/wiki/How-to-open-app-in-demo-mode).
2. Click the + button at the bottom of the screen
3. Click on `Software Info` orange button

<img alt="CyBear Jinni image" height="400" src="https://user-images.githubusercontent.com/9304740/193900181-60f339d6-4ca

[2022-10-04 18:46] guyluz11 commented on #342
@AdityaKeshan
Here you go
https://github.com/CyBear-Jinni/cbj_app/issues/487

Please comment there so that I can assign it to you

[2022-10-04 18:47] guyluz11 commented on #342
@Tamir198 if you keep getting that please reopen the issue.

Will close it now as @AdityaKeshan can't reproduce.

[2022-10-04 18:47] #342 closed

[2022-10-04 18:48] AdityaKeshan commented on #487
please assign

[2022-10-04 18:53] guyluz11 commented on #487
@AdityaKeshan yours

[2022-10-04 19:04] AdityaKeshan commented on #487
Thanks

[2022-10-05 05:15] ashishmohapatra240 commented on #487
Hey, I would like to work on this!

[2022-10-05 05:16] ashishmohapatra240 commented on #483
Hey, I would like to work on this!

[2022-10-05 08:16] guyluz11 commented on #483
Sorry @UtkarshDeoli but this issue got already assigned.to someone else.

[2022-10-05 09:32] guyluz11 commented on #483
@UtkarshDeoli My bad 😅

@ashishmohapatra240  sorry but this issue got already assigned to someone else.

[2022-10-05 09:44] ashishmohapatra240 commented on #483
Oh Yeah! 😅

I understand

[2022-10-05 11:23] AdityaKeshan commented on #487
<img src="https://user-images.githubusercontent.com/60391695/194048991-edcc008d-e36c-41a0-afb9-cb433e203650.png" width="300" height="600">
Does this look good?

[2022-10-05 15:20] Heismanish commented on #428
Hey @guyluz11 , completed hindi translation and made a pr here #492 .

[2022-10-05 16:03] AdityaKeshan commented on #487
okay working on it. Anything else?

[2022-10-05 16:10] AdityaKeshan commented on #487
<img src="https://user-images.githubusercontent.com/60391695/194109057-0f4764d9-7e34-4198-bec5-7725c8b0280e.png" width="300" height="600">
If its okay i will put a PR

[2022-10-05 16:16] guyluz11 commented on #487
Yep thats good

[2022-10-05 20:08] lemmoor commented on #428
Hi, I have opened PR #497 to add Ukrainian translation.
Thanks for the opportunity

[2022-10-05 22:16] guyluz11 commented on #483
Pr got merged, will close this issue now thanks

[2022-10-05 22:16] #483 closed

[2022-10-05 22:16] guyluz11 commented on #487
Pr got merged.

Will close this issue now

Thanks

[2022-10-05 22:16] #487 closed

[2022-10-05 22:24] guyluz11 commented on #487
Hi @ashishmohapatra240 this feature got already assigned to someone else.

You are more than welcome to test and work on the Hub.

The app connects to the Smart Hub, and currently requires much more attention than it gets.
https://github.com/CyBear-Jinni/cbj_hub

You can test it and find issues, add support for new integration with smart devices, or improve an existing one.

Now that I think about

[2022-10-06 02:57] UtkarshDeoli commented on #318
Hey @guyluz11 how about this library
[fl_country_code_picker](https://pub.dev/packages/fl_country_code_picker)
Insted of country_picker.

And should location be used to detect the Country of a user and then assign a country code to them or should there be a default country code and the user can select their code form a dropdown if it's not the default one.

[2022-10-06 05:21] guyluz11 commented on #318
What are the benefits of using fl_country_cose[fl_country_code_picker](https://pub.dev/packages/fl_country_code_picker)  agins [country_picker](https://pub.dev/packages/country_picker)?

As far as I can see country_picker have much more upvotes in pub.dev.

We want to help the user so both selecting automatically for the user and let him change it using dropped down are good options that will be a

[2022-10-06 13:39] goobric commented on #428
how do I open a pull request (PR) to the dev branch, for a language that does not exit in the folder?
I have created the .json file, the translation states that I do not have access to add a new language; and created a forked copy to my github account. How do I create a PR with this forked copy? thank you

[2022-10-07 00:32] LeGrandMAG commented on #428
I have also added French - Democratic Republic of the Congo's translation #503. Thanks @guyluz11

[2022-10-08 13:04] guyluz11 commented on #458
Hi @Simran1604  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:04] guyluz11 commented on #379
Hi @Summiedev  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:05] guyluz11 commented on #318
Hi @UtkarshDeoli  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:05] guyluz11 commented on #315
Hi @piyushkumar12111111  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:05] guyluz11 commented on #212
Hi @chena-1  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:06] guyluz11 commented on #201
Hi @UtkarshDeoli  I am removing you from Assignees but your pr will still be merged if it will be accepted

Thanks

[2022-10-08 13:10] Brandon-T84 opened #509 "Add Youtube Video To README"
Adds a youtube video to the README file

[2022-10-08 13:19] guyluz11 commented on #509
Pr merged
Thanks

[2022-10-08 13:19] #509 closed

[2022-10-08 15:58] Utsav1999 commented on #428
Hello @goobric ,

As you said you have forked the repo, so now you need to make your desired changes and then you need to push the changes on your branch. Then create a pull request to the **dev** branch of the original repo from your branch and you are done 🎉

P.S.: To select the **dev** branch, you need to click on the dropdown option against the original repo name.

Thank you.

[2022-10-08 16:12] mufida1018 commented on #458
I would like to contribute

[2022-10-08 16:22] mufida1018 commented on #315
Hello, please assign this to me

[2022-10-08 16:36] guyluz11 commented on #458
@mufida1018 feal free to open pr for that, for any help I am in the discord server of CyBear Jinni

[2022-10-08 16:38] guyluz11 commented on #315
Just open pr for that @mufida1018 :)

[2022-10-08 18:36] minna-xD commented on #428
As someone with a background in the translation & localization industry, translation is not "super easy". It is often surprisingly tricky! 😉
In any case, I just started working on a Finnish translation. 🎃

[2022-10-08 19:18] guyluz11 commented on #428
It's easy from a git stand point XD.
Some usages of translations like `Exist` got deleted from the app, we are keeping the translations file with the same translations so that it will be easy to know how many translations are missing from each language (without deleting the world from all of the translations).

So just use the most common translation for the word and in the future if it is wrong s

[2022-10-08 21:11] ziarparvaiz commented on #428
Hi @guyluz11, I have added the Turkish translation #516. Thanks! 😎

[2022-10-08 21:55] neocollege opened #518 "translation: ru-KZ"
translation to the language ru-KZ

[2022-10-09 20:38] guyluz11 commented on #518
Merged pr, will close issue now

[2022-10-09 20:38] #518 closed

[2022-10-11 05:31] UtkarshDeoli commented on #201
ok

[2022-10-11 17:41] KatiaAsh commented on #428
Hi @guyluz11
I have added Arabic - Palestine's translation
PR: https://github.com/CyBear-Jinni/cbj_app/pull/528
Thanks

[2022-10-14 12:49] goobric commented on #428
Thank you for your reply
How do I create a pull request to the repository once the en-US.json file
has been altered for an additional language?
Sorry for asking such a silly dumb question!
I have the new language .json file, I don't know how to share it.
Instruction 3 just states: "Open a pull request to the Dev branch"; without
explaining how to do this!
Sorry again, from a non-tech person.

On S

[2022-10-14 13:29] Utsav1999 commented on #428
Hello @goobric ,

It's great to see that you want to make opensource contributions. Please find the steps below.

- In this repository move to the directory: [cbj_app/assets/translations](https://github.com/CyBear-Jinni/cbj_app/tree/master/assets/translations)
- There you will find a dropdown saying **Add File** and then after clicking on the dropdown you will find an option saying **Create new fi

[2022-10-16 18:37] guyluz11 opened #534 "Ignore file in git action dart format #"
Same as in this issue in the Hub repo https://github.com/CyBear-Jinni/cbj_hub/issues/182 we would like to ignore `injection.config.dart` file from the git action format.

So just add to this:

https://github.com/CyBear-Jinni/cbj_app/blob/426d29b431ea514c70506a15f8d5e02cfebc9d30/.github/workflows/format.yml#L20

this part (inspiration https://github.com/CyBear-Jinni/cbj_hub/pull/202/files):
`! -nam

[2022-10-16 21:51] guyluz11 opened #535 "Deprecated methods"
Both

`getLocationServiceAuthorization`
and
`requestLocationServiceAuthorization`

Are deprecate.

https://github.com/CyBear-Jinni/cbj_app/blob/426d29b431ea514c70506a15f8d5e02cfebc9d30/lib/infrastructure/core/shared_methods.dart#L17

Please fix deprecated methods

[2022-10-16 21:55] AlgyJr commented on #535
Hi @guyluz11 I'd like to resolve this issue, can you assign it to me?

[2022-10-16 21:56] guyluz11 commented on #535
Just open pr to dev for that and I will accept it when it is ready :)

[2022-10-16 22:07] guyluz11 opened #536 "Move from Hive to Isar"
It looks like there is a new alternative to [Hive](https://pub.dev/packages/hive) from the same author and it is named [isar](https://pub.dev/packages/isar).

It is considered better fester and I think written entirely in dart as opposed to Hive which I think is not.

[2022-10-17 07:26] guyluz11 commented on #534
Thanks

[2022-10-17 07:26] #534 closed

[2022-10-17 07:56] guyluz11 opened #544 "Update packages"
Please update all packages and check that the build pass and we can run the program.

Open pr to Dev branch

[2022-10-17 11:50] SankethBK commented on #379
@guyluz11  Hi, want to contribute to this. But demo mode appears to be empty

[2022-10-17 12:55] guyluz11 commented on #379
Does "Devices" tab have content?, Your screenshot is from the "Automations" tab.

If you are talking specifically about this issue than Automations tab is not essential.

If devices tab is empty than please forked dev branch.

Incase you want to have automations in the demo mode you can solve this issue and in the same place insert automations #458

[2022-10-17 13:23] SankethBK commented on #379
@guyluz11  Devices page is also empty. I am using the latest dev branch with commit id `a9b8620fad1312d9306b6cb14e61cba00d36ecaa`
![Screenshot_1666012793](https://user-images.githubusercontent.com/51091231/196187774-788d6a83-2a52-45f0-9758-0925b198dd2e.png)

[2022-10-17 17:55] saurav0523 commented on #544
I would like contribute on this issue

[2022-10-17 23:21] guyluz11 commented on #544
Sure, just open pr for that.

[2022-10-18 03:56] SankethBK commented on #379
@guyluz11 facing some issues in running the app.
On Android, when i click on "off" in devices a snackbar shows up but the list item isn't getting removed from the list. I had this error on terminal `Permission to use location is denied` on both Android emulator and real device. I double checked that i have granted all location permissions.
On iOS i was facing lot of dependency issues, so i deleted

[2022-10-18 07:12] guyluz11 commented on #379
Of course, join the discord server and ping me.
We will work on it together

<a href="https://discord.gg/mUXfwUY">
<img align="left" alt="Discord" width="45px" src="https://cdn.icon-icons.com/icons2/2108/PNG/512/discord_icon_130958.png" /></a>

[2022-10-18 09:02] guyluz11 commented on #535
Pr got merged.

Thanks

[2022-10-18 09:02] #535 closed

[2022-10-18 10:11] rktejesh commented on #461
Hi @guyluz11
Can I work on this issue?

[2022-10-19 07:40] Aryashakya commented on #544
#550 Please review it.

[2022-10-19 21:45] SankethBK commented on #458
#554

[2022-10-20 07:57] guyluz11 opened #558 "Change package network_info_plus back to pub.dev version"
The package network_info_plus is currently coming from the git repo.

https://github.com/CyBear-Jinni/cbj_app/blob/b02302b816d5886dea2e2f85cbddb5fcdf511bfd/pubspec.yaml#L126

This change was necessary because the last version of this package in pub dev had an error.

Please create a pr to dev with version 3 of the package

https://pub.dev/packages/network_info_plus

[2022-10-21 11:06] guyluz11 commented on #458
Done thanks

[2022-10-21 11:06] #458 closed

[2022-10-21 14:46] SankethBK commented on #379
Hi, i want to contribute for this issue also. Currently the changes are abrupt, after adding a little animation, this is the result, what's your opinion on this?
![cbj_gif](https://user-images.githubusercontent.com/51091231/197223871-df0d33fc-6b7d-4bf5-b11d-9150027af552.gif)

[2022-10-21 18:33] guyluz11 commented on #379
This looks interesting, can you add another gif of it happening where the summary page is not visible? (scroll up then turn on/off a device).

I think in general it is better

[2022-10-21 18:53] SankethBK commented on #379
@guyluz11 summary page would be empty as before if no devices are on.

<img src="https://user-images.githubusercontent.com/51091231/197268958-c2229a43-8b58-4c90-b85b-b5a2f36d79a1.gif" width="300" />

[2022-10-21 19:10] guyluz11 commented on #379
I meant something else.
Would you be free tomorrow to show me it with a shared screen in discord?

[2022-10-21 20:02] bhattabhi013 opened #561 "Add contributors list in readme"
Add contributor lists in `README.md`

[2022-10-21 22:58] guyluz11 commented on #561
Yep sure

[2022-10-22 05:21] SankethBK commented on #379
Let me know at what time you would be available

[2022-10-22 09:56] #561 closed

[2022-10-22 12:05] guyluz11 opened #744 "Add support for LG"
[LG](https://www.lg.com/us) has smart devices like smart TVs running WebOS

In [Home Assistant 10.1%](https://www.home-assistant.io/integrations/webostv/ of its users use it.

Let's add support for it

![image](https://user-images.githubusercontent.com/9304740/197795590-27eb09c8-98f4-457a-8a9b-baf44aea3d47.png)

[2022-10-23 05:04] guyluz11 commented on #558
Done

[2022-10-23 05:04] #558 closed

[2022-10-23 05:05] guyluz11 commented on #544
Done

[2022-10-23 05:05] #544 closed

[2022-10-23 14:06] guyluz11 commented on #379
@SankethBK your scroll animation in the pr looks good and addresses the problem in another way that improves the experience for the user.

Thanks for the pr, will close this issue now.

[2022-10-23 14:06] #379 closed

[2022-10-24 09:26] Akhil-blanc commented on #428
hey! I just added the af-ZA translation.
I opened PR #570 , for the change.
Thanks for the opportunity.

[2022-10-25 04:36] UtkarshDeoli commented on #201
hey i can still contriute right ??

[2022-10-25 05:47] guyluz11 commented on #201
@UtkarshDeoli yep :)

[2022-10-25 21:12] guyluz11 commented on #536
Pr got merged.
We have moved from hive to isar.

Thanks

[2022-10-25 21:12] #536 closed

[2022-10-26 13:01] guyluz11 opened #580 "Update packages to the last version"
Please update packages to the last version

[2022-10-27 06:32] Aaliya-Ali commented on #318
@guyluz11
Do you want the autofilled country code to be fetched based on the user's location or a default country (say the US) or a country where majority of your users reside would work too?

[2022-10-27 08:23] guyluz11 commented on #318
@Aaliya-Ali

I would like one of 2 things or both.

1. Field will include drop down of country with country code.
2. Field data get filled automatically based on user location

[2022-10-27 09:59] omar1024 commented on #580
could you please assign this to me ?

[2022-10-27 10:37] guyluz11 commented on #580
Just open pr and I will accept it :)

[2022-10-27 11:46] prabhleenn commented on #428
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if you assign me this.

[2022-10-27 13:31] guyluz11 commented on #428
Hey, @prabhleenn just open pr and I will check it, no need to be assigned.

[2022-10-30 15:17] Bikramjit21 commented on #428
idk why pr got blocked, its saying not allowing authorised users

[2022-10-30 15:23] Utsav1999 commented on #428
Hello @Bikramjit21 , You need to make the PR to the **dev** branch and as you are a first time contributor so you need approval from the repo owner to merge your changes. Thank you.

[2022-10-30 15:30] guyluz11 commented on #428
As @Utsav1999 said please change pr to dev branch, the merge itself and running the ci is done by one of the repo maintainer.

[2022-10-30 17:20] guyluz11 opened #609 "Adding support for F-Droid"
[F-Droid](https://f-droid.org/) is an installable catalog of FOSS (Free and Open Source Software) applications for the Android platform.

CyBear Jinni is open source and free and acts in the spirit of F-Droid.

So let's add the app to the F-Droid store and make CD that does that automatically without user intervention.

[2022-11-01 07:46] guyluz11 opened #614 "Change area for devices done button disappears"
How to reproduce:

1. Choose small screen android device
2. Make sure you have 14+ devices detected by cbj (depending on your screen that can be much more than 14).
3. Arrive on the correct page,
    Devices -> three dots in the top -> Change Area For Devices
4 Select a lot of devices under choose device

What expected:
The done button will stay at the bottom all along, chosen devices area will be

[2022-11-06 12:05] guyluz11 commented on #614
Done, thanks

[2022-11-06 12:05] #614 closed

[2022-11-06 12:10] guyluz11 opened #616 "ADD button is out of screen in "Add New Area" page"
Same as  #614 but on the "Add new Area" screen.

The "ADD" button is getting out of the screen when there are a lot of tags

Ok

<div align="center"><img alt="App photo" height="400" src="https://user-images.githubusercontent.com/9304740/200169834-d70d5300-e05e-4a38-aa3c-f2a3a5d79d95.png">
</div>

Is out of the screen

<div align="center"><img alt="App photo" height="400" src="https://user-images.

[2022-11-06 12:34] #580 closed

[2022-11-06 13:12] guyluz11 opened #617 "Area automation background"
Currently, our automation scenes tab looks like this

<div align="center"><img alt="App photo" height="400" src="https://user-images.githubusercontent.com/9304740/200172481-d516491d-e0fd-4ab8-9eea-ad583e464e2d.png">

And whenever we open one of the scenes it looks like this

<div align="center"><img alt="App photo" height="400" src="https://user-images.githubusercontent.com/9304740/200172501-b0dfc

[2022-11-06 16:07] SankethBK commented on #616
Sure, i will take this up

[2022-11-08 02:17] SankethBK commented on #616
@guyluz11 how to reach this screen?

[2022-11-08 09:40] guyluz11 commented on #616
![Screenshot_20221108-113843](https://user-images.githubusercontent.com/9304740/200529915-6b037bbd-9aff-417f-90c4-e20e9b4ca04f.jpg)
![Screenshot_20221108-113848](https://user-images.githubusercontent.com/9304740/200529928-d86f64c6-7473-4246-a567-cbc3361f94bb.jpg)

[2022-11-08 10:44] SankethBK commented on #616
Thank you

[2022-11-09 07:42] guyluz11 commented on #396
We have just completed basic support for ESPHome.

Currently suggest support identity but it is pretty easy to add more.

I am going to push an update to the snap store that include the support in the coming hours.

Thanks

[2022-11-09 07:42] #396 closed

[2022-11-09 11:23] guyluz11 opened #619 "rgbW light text out of bounds"
Whenever a rgbW light have long text it is getting out of bound

![Screenshot_20221109-125742](https://user-images.githubusercontent.com/9304740/200817647-14359e4f-da16-4623-b2e0-beadf75d69f7.jpg)

[2022-11-09 17:37] guyluz11 commented on #616
Thanks pr got merged, closing issue

[2022-11-09 17:37] #616 closed

[2022-11-10 20:22] guyluz11 opened #622 "Explore better handleing of hub connection"
It looks like the last version of grpc have brought some new functionality that may help us improve the connection reliability to the hub

![Screenshot_20221110-221400_Firefox](https://user-images.githubusercontent.com/9304740/201196657-a4a898a7-5d6f-4f97-aa5a-b4b1b0748fff.jpg)

The current way of connecting try to handle a lot of different cases and the code can be improved, even more so with the

[2022-11-12 04:42] chandansgowda commented on #619
Hey @guyluz11
Shall I take this up?

[2022-11-12 07:30] guyluz11 commented on #619
Sure, if you need any help l am at the discord server

https://discord.gg/mUXfwUY

[2022-11-12 14:17] chandansgowda commented on #619
Hey @guyluz11
Please review my PR - #623
Thanks

[2022-11-15 13:43] guyluz11 opened #624 "Change welcome screen according to the new moc"
Our welcome screen will get some changes to be more appealing.

Let's change it to look like the new moc, and use the current CyBear Jinni logo.

Our current welcome screen

![Screenshot_20221115-154637](https://user-images.githubusercontent.com/9304740/201935661-87f094c5-4021-467d-953b-8ac854a4023a.jpg)

Our new moc

![image](https://user-images.githubusercontent.com/9304740/201934306-c66f4957-d8

[2022-11-15 13:45] guyluz11 opened #625 "New moc for connected to Hub page"
We got a new moc for Connect to Hub page.
Let's change the current one to look like this

Current screen

![Screenshot_20221115-154703](https://user-images.githubusercontent.com/9304740/201935497-0fac6555-a970-4c83-8ef9-45446bebd262.jpg)

Our new moc

![image](https://user-images.githubusercontent.com/9304740/201934815-e8dd49c3-dcd8-4aa5-bc0b-8e1ff48f854b.png)

[2022-11-23 13:04] guyluz11 opened #626 "New devices from Hub are not add in the app after first load"
The app gets all devices from the hub.

If the hub finds more devices and sends them to the app after the first pull then the new devices need to appear in the app, but they do not get shown.

I have investigated a little bit and found that the app gets the request but there is no update in the UI with the new one after the first load of all devices.

[2022-11-23 14:07] guyluz11 opened #627 "loadWifiList function is depraceted"
`WiFiForIoTPlugin.loadWifiList()` is depraceted

`'loadWifiList' is deprecated and shouldn't be used. This is discontinued, switch to the new `wifi_scan` plugin by WiFiFlutter. Check - https://pub.dev/packages/wifi_scan. (Documentation)
`

Path  `cbj_app/lib/application/configure_new_cbj_comp/configure_new_cbj_comp_bloc.dart:243`

[2022-11-23 14:37] guyluz11 commented on #626
Fixed from the hub side.

It seems that the device got updated in the app but the discovered room (copy in the app) didn't include the new device, so if the device in the hub belongs to the discovered room the room itself will be sent again including the new device in it.

[2022-11-23 14:37] #626 closed